@using System.Text.Unicode
@model Source

@{
    ViewBag.Title = "Источник";
    Layout = "_Layout";
}
<div class="page">
    <!-- заголовок страницы -->
    <div class="pageheader">
        <h2>
            @ViewBag.Title <br/>@Model.Name</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="SourceManage">Библиотека</a>
                </li>
                <li>
                    <a asp-action="Details" asp-controller="SourceManage" asp-route-id="@Model.Id">@Model.Name</a>
                </li>
            </ul>
        </div>
    </div>
    <!--/ заголовок страницы -->

    <div class="page row">

        <div class="tile-body">

            <div class="row">

                <div class="col-sm-4 portlets sortable">
                    <section class="tile portlet ">

                        <!-- tile body -->
                        <div class="tile-body">
                            <div style="text-align: center; margin: 10px;">
                                <img style=" width: 100%;-webkit-box-shadow: 14px 14px 28px -6px rgba(53,3,71,0.57);
                                                                          -moz-box-shadow: 14px 14px 28px -6px rgba(53,3,71,0.57);
                                                                          box-shadow: 14px 14px 28px -6px rgba(53,3,71,0.57);" src="~/@Model.CoverPath" alt="изображение обложки">
                            </div>
                        </div>
                        <!-- /tile body -->
                    </section>
                </div>
                <div class="col-sm-8 portlets sortable">
                    <section class="tile portlet ">
                        <!-- tile body -->
                        <div class="tile-body">
                            <div style="text-align: right; margin-right: 10px ">
                                @if (Model.Category != null)
                                {
                                    <span style="color: #0a6aa1">Категория: @Model.Category.Name </span>
                                }
                                @if (Model.ISBN != null)
                                {
                                    <br><span>ISBN: @Model.ISBN</span>
                                }
                            </div>
                            <div>
                                <h2>" @Model.Name "</h2>
                                @foreach (var author in Model.Authors)
                                {
                                    <p> @author.Name </p>
                                }
                            </div>
                            @if (Model.YearOfWriting != null)
                            {
                                <div>Год издания : @Model.YearOfWriting</div>
                            }
                            @if (Model.Edition != null)
                            {
                                <div>Редакция : @Model.Edition</div>
                            }
                            <div>Дата добавления в систему : @Model.DateCreate</div>
                            <div>Дата последнего исправления : @Model.DateUpdate</div>
                            <div>
                                <h4 style="color: #3e8f3e; ">Описание : </h4>
                                @Html.Raw(Model.SourceDescription) 
                            </div>
                            <div>
                                <h5 style="color: #3e8f3e; ">Дополнительно: </h5>
                                @Model.AdditionalInformation
                            </div>
                            <div>
                                <h5 style="color: #3e8f3e; "> Ключевые слова : </h5>
                                @Model.Keys
                            </div>
                            <div>
                                @if (Model.PhysicalPath == null)
                                {
                                    <p style="color: #0f9dca; font-style: inherit;">Только в электронном виде</p>
                                }
                                else
                                {
                                    <p>Источник находится : @Model.PhysicalPath</p>
                                }
                            </div>
                            @if (Model.BusinessProcesses.Count > 0)
                            {
                                string processes = "";
                                @foreach (var bp in Model.BusinessProcesses)
                                {
                                    processes += bp.Name + ", ";
                                }
                                <p>Связан с Бизнес-процессами: @processes</p>
                            }
                            @if (Model.SourceState != null)
                            {
                                <p>Состояние: @Model.SourceState.Name</p>
                            }
                            @if (Model.VirtualPath != null)
                            {
                                <div>
                                    <a asp-action="ReadBook" asp-controller="SourceManage" asp-route-id="@Model.Id"><i class="fa fa-book"></i> Читать источник </a>
                                </div>
                            }
                            
                            <div>
                                @if (ViewBag.BookTransferId != 0)
                                {
                                    @if (ViewBag.BookTransferLanguage == "ru")
                                    {<a asp-action="Details" asp-controller="SourceManage" asp-route-path="" asp-route-id="@ViewBag.BookTransferId"><i class="fas fa-globe"></i> Перевод</a>}
                                    @if (ViewBag.BookTransferLanguage == "en")
                                    {<a asp-action="Details" asp-controller="SourceManage" asp-route-path="" asp-route-id="@ViewBag.BookTransferId"><i class="fas fa-globe"></i> Оригинальная версия</a>}
                                }

                            </div>
                        </div>
                        <!-- /tile body -->

                    </section>
                </div>
            </div>
        </div>
        <!-- /tile body -->
        <div>
            <div class="">
                <textarea id="comment_area" class="form-control textarea_chat" placeholder="Оставить свой комментарий..." rows="2"></textarea>
                <button type="button" class="btn btn-info mt-10" name="@Model.Id" id="sendComment">Добавить комментарий</button>
                <button type="button" class="btn btn-info mt-10" onclick="viewComment('@Model.Id')">Посмотреть комментарии</button>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="panel panel-info mt-10">
            <div id="listComment"></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('#sendComment').click(function(event) {
            event.preventDefault();
            let id = $('#sendComment').attr('name');
            let comment = $('#comment_area').val();
            reset();        
            $.ajax({
                url: '@Url.Action("CreateComment", "SourceManage")',
                type: 'POST',
                data: { 
                    'sourceId': id, 
                    'description': comment
                },
                success: function(data) {
                    $('#listComment').html(data);                   
                },
            });  
        });
        
        let reset = function() {
            $('#comment_area').val("");               
        };
        
        function deleteComment(Id, sourceId) {
            $.ajax({
                url: '@Url.Action("DeleteComment", "SourceManage")',
                type: 'GET',
                data: { 
                    'id': Id,
                    'sourceId': sourceId,
                },
                success: function(data) {
                    $('#listComment').html(data); 
                },
            });   
        }
              
        function viewComment(id) {                             
            $.ajax({
                url: '@Url.Action("ViewComment", "SourceManage")',
                type: 'GET',
                data: { 
                    'id': id
                 },
                success: function(data) {
                $('#listComment').html(data); 
                },
            });   
        }        
    </script>
}
