@model MaterialCreateViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewBag.Title = "Редактирование материала";
    Layout = "_Layout";
}
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" id="RequestVerificationToken" 
       name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">  

<div class="page">
    <div class="pageheader">

        <h2>@ViewBag.Title</h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="SourceManage"> Библиотека</a>
                </li>
                <li>
                    <a asp-action="Edit" asp-controller="SourceManage" asp-route-id="@Model.Id"> Редактирование </a>
                </li>
            </ul>
        </div>
    </div>
    <span id="errorText" style="color: red"></span>

    <div class="row">
        <div class="tile-body">
            <form class="create-form" asp-action="Edit" asp-controller="SourceManage" asp-area="Admin" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                @{ Html.RenderPartial("PartialViews/FormPartial", Model); }
               
                <input type="hidden" value="@Model.Id" id="postId" asp-for="Id">
            </form>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title custom-font">Новый Шаблон</h3>
                </div>
                <div>
                    <div class="p-3">
                        <div >
                            <label>Название шаблона</label><br/>
                            <input class="form-control" type="text" id="templateName">
                        </div>
                        <div >
                            <label>Заголовок</label><br/>
                            <input class="form-control" type="text" id="templateTitle">
                        </div>
                        <div>
                            <label>Содержание</label>
                            <textarea  name="ContentTemplate" type="templateContent"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" data-dismiss="modal" id="templateButton"><i class="fa fa-arrow-right"></i>Создать</button>
                    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Отменить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
</div>

   
@section Scripts
{
    <script>
        CKEDITOR.replace('textContent');
    </script>
    <script>
        CKEDITOR.replace('ContentTemplate');
    </script>
    <script>
     
        $('#submit').on('click', function(e) {
                    e.preventDefault();
                    let businessProcessesArray = [];               
                    let getbusinessP = document.getElementById('businessProcesses-row');
                    let getBPName = getbusinessP.getElementsByTagName('span');
                    for (let i=0; i < getBPName.length; i++){
                        businessProcessesArray.push(getBPName[i].innerHTML);
                    }
                    let editorData = CKEDITOR.instances.textContent.getData();
                    let formData = new FormData();
                    let coverFile = document.getElementById('coverFile');
                    let sourceFile = document.getElementById('sourceFile');    
                    formData.append('__RequestVerificationToken', $('#RequestVerificationToken').val());
                    formData.append(coverFile.getAttribute('name'), coverFile.files[0]);
                    formData.append(sourceFile.getAttribute('name'), sourceFile.files[0]);
                    formData.append('Id', $('#postId').val());
                    formData.append('Title', $('#name').val());
                    formData.append('TextContent', editorData);
                    formData.append('Keys', $('#keyWord').val());
                    formData.append('TypeContentId', $('#typeContentId').val());
                    formData.append('CategoryId', $('#category').val());
                    formData.append('TypeId', $('#typeId').val());
                    formData.append('TypeStateId', $('#typeStateId').val());
                    formData.append('Author', $('#author').val());
                    formData.append('AdditionalInformation', $('#additional').val());
                    formData.append('BusinessProcesses', String(businessProcessesArray));
                      
                    $.ajax({
                        url: '@Url.Action("Edit", "SourceManage", new {area = "Admin"})',                            
                        type: 'POST',           
                        traditional: true,                 
                        data: formData,                                                                                                             
                        contentType: false,
                        processData: false,          
                        success: function(response) {
                            if (response === "redirect"){
                                window.location.href = "@Url.Action("Details","SourceManage", new{area="Admin", id = Model.Id})"
                            }
                            if (response === "falseSourceType"){
                                $('#errorText').html('Неверный формат источника')
                            }
                            else if (response === "falseCoverType"){
                                $('#errorText').html('Неверный формат обложки')
                            }
                        }                                                        
                    });                   
                });
        $('#clearChoosen').on('click', function(event) {
            event.preventDefault();
            let option = document.getElementsByClassName('editOption');
            for (let i = 0; i < option.length; i++){
                $('.editOption').remove();
            }
            $('#bpChosen').trigger("chosen:updated"); 
        })
        $("#templateIdBtn").click(function(event) {                    
            event.preventDefault();
            let id = $('#selectTemplate').val();
            $.get('@Url.Action("Create", "SourceManage")',{templateId: id});                     
        });
                    
        let loadCategories = function(){
            let catInput = $('#catInput').val();
            $("#categories-row").load('@Url.Action("CreateCategoryAjax", "SourceManage")',{Name: catInput});
        };
        let loadTemplate = function(){
            let templateTitle = $('#templateTitle').val();
            let templateContent = CKEDITOR.instances['ContentTemplate'].getData();
        let templateInput = $('#templateName').val();
            $("#template-row").load('@Url.Action("CreateTemplateAjax", "SourceManage")',{Name: templateInput, ContentTemplate : templateContent, Title:templateTitle});
         };
        let loadTypes = function(){
            let typeInput = $('#typeInput').val();
            $("#types-row").load('@Url.Action("CreateTypeAjax", "SourceManage")',{Name: typeInput});
        };
        let deleteCategory = function(categoryId){
            $("#categories-row").load('@Url.Action("DeleteCategoryAjax", "SourceManage")', {Id: categoryId});
        };
                let deleteTemplate = function(templateId){
                    $("#template-row").load('@Url.Action("DeleteTemplateAjax", "SourceManage")', {Id: templateId});
                };
        let deleteType = function(typeId){
            $("#types-row").load('@Url.Action("DeleteTypeAjax", "SourceManage")', {Id: typeId});
        };
        $(document).ready(function(){
            
            loadTemplate();
            loadCategories();
            loadTypes();
            $('body').on('click','#catButton',function(event){
                 event.preventDefault();
                 setTimeout(loadCategories, 200)
            });
            $('body').on('click','#templateButton',function(event){
                 event.preventDefault();
                 setTimeout(loadTemplate, 200)
            });
            $('body').on('click','#typeButton',function(event){
                 event.preventDefault();
                 setTimeout(loadTypes, 200)
            });
            $('body').on('click','.buttonDeleteCat',function(event){
                 event.preventDefault();
                 setTimeout(function() {deleteCategory(event.currentTarget.value)}, 200)
            });
            $('body').on('click','.buttonDeleteTemplate',function(event){
                 event.preventDefault();
                 setTimeout(function() {deleteTemplate(event.currentTarget.value)}, 200)
                 });
            $('body').on('click','.buttonDeleteType',function(event){
                 event.preventDefault();
                 setTimeout(function() {deleteType(event.currentTarget.value)}, 200)
            });
        })
    </script>
}
