@model  List<LibraryListViewModel>

@{
    ViewBag.Title = "Библиотека";
    Layout = "_Layout";
}
<div class="page page-tables-datatables">
    <div class="pageheader">
        <h2> @ViewBag.Title</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="SourceManage">Библиотека</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-md-12">
            <!-- tile -->
            <section class="tile">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font">
                        <strong> @ViewBag.Title</strong>
                    </h1>
                    <ul class="controls">
                        <li>
                            <a role="button" tabindex="0" asp-action="Create" asp-controller="SourceManage"><i class="fa fa-plus mr-5"></i>Добавить</a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" asp-action="Create" asp-controller="BooksManage"><i class="fa fa-plus mr-5"></i>Добавить Книгу</a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" asp-action="Index" asp-controller="SourceManage">Активные</a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" asp-action="Index" asp-controller="SourceManage" asp-route-activ="false">Удаленные</a>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->

                <!-- tile body -->
                <div class="tile-body" style="display: block">
                    <div class="table-responsive">
                        <table class="table table-custom" id="editable-usage">
                            <thead>
                            <tr>
                                <th style="width: 30%">Название</th>
                                <th>Автор</th>
                                <th>Тип Контента</th>
                                <th>Категория</th>
                                <th>Тип файла</th>
                                <th style="width: 160px;" class="no-sort">Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            @{int i = 0;}
                            @foreach (var post in Model)
                            {
                                i++;
                                <tr class="odd gradeX">
                                    @if (post.Entity == "book")
                                    {
                                        <td>
                                            <a asp-action="Details" asp-controller="BooksManage" asp-route-id="@post.Id">@post.Name</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a asp-action="Details" asp-controller="SourceManage" asp-route-id="@post.Id">@post.Name</a>
                                        </td>
                                    }
                                    @if (post.TypeContent.Name != "Книга")
                                    {
                                        if (post.Author != null)
                                        {
                                            <td>@post.Author</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    else
                                    {
                                        if (post.BookAuthors.Count > 0)
                                        {
                                            string authors = ""; 
                                            @foreach (var t in post.BookAuthors)
                                            {
                                                authors += t.Name + ", ";
                                            }
                                            <td>@authors.Trim().TrimEnd(',')</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    @if (post.TypeContent != null)
                                    {
                                        <td>@post.TypeContent.Name</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (post.Category != null)
                                    {
                                        <td>@post.Category.Name</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (post.Type != null)
                                    {
                                        <td>@post.Type.Name</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (post.Entity != "book")
                                    {
                                        <td>
                                                <a id="link_@i" onclick="copy(event,@i)" class="btn btn-rounded-20 btn-default btn-sm p-5" style="width:30px;" role="button" tabindex="0" target="_blank"
                                                   title="Копировать ссылку" href="../../@post.FilePath"><i class="fa fa-link"></i></a>
 
                                            
                                            <a class="btn btn-rounded-20 btn-default btn-sm p-5" style="width:30px;" role="button" tabindex="0" target="_blank"
                                               title="Вид пользователя" asp-action="Details" asp-controller="Material" asp-area="" asp-route-id="@post.Id"><i class="fa fa-eye"></i></a>
                                            <a class="btn btn-rounded-20 btn-default btn-sm p-5" style="width:30px;" role="button" asp-action="Edit"
                                               asp-controller="SourceManage" asp-route-id="@post.Id" tabindex="0" title="Изменить"><i class="fa fa-pencil"></i></a>
                                            @if (post.Active)
                                            {
                                                <a class="btn btn-rounded-20 btn-default btn-sm p-5" style="width:30px;" role="button" tabindex="0"
                                                   title="Удалить" asp-action="Delete" asp-controller="SourceManage" asp-route-id="@post.Id"><i class="fa fa-trash"></i></a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-rounded-20 btn-default btn-sm p-5" style="width:30px;"
                                                   asp-action="Delete" asp-controller="SourceManage" title="Восстановить" asp-route-id="@post.Id">
                                                    <i class="fa fa-reply"></i>
                                                </a>
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td >
                                             @if (post.TranslationID == 0)
                                             {
                                                 <a title="Добавить на английском" role="button" class="btn btn-rounded-20 btn-default btn-sm p-5" style="width:30px;"
                                                    asp-action="Create" asp-controller="BooksManage" asp-route-bookId="@post.Id">
                                                     <i class="fas fa-globe"></i>
                                                 </a>
                                             }
                                             <a id="link_@i" onclick="copy(event,@i)" class="btn btn-rounded-20 btn-default btn-sm p-5" style="width:30px;" role="button" tabindex="0" target="_blank"
                                                                                                title="Копировать ссылку" href="../../@post.FilePath"><i class="fa fa-link"></i></a>
                                            <a class="btn btn-rounded-20 btn-default btn-sm p-5" style="width:30px;" role="button" tabindex="0"
                                               target="_blank" title="Вид пользователя" asp-action="Details" asp-controller="Source" asp-area="" asp-route-id="@post.Id"><i class="fa fa-eye"></i></a>
                                            <a class="btn btn-rounded-20 btn-default btn-sm p-5" style="width:30px;" title="Редактировать"
                                               asp-action="Details" asp-controller="BooksManage" asp-route-id="@post.Id"><i class="fa fa-pencil"></i></a>

                                            @if (post.Active)
                                            {
                                                <a class="btn btn-rounded-20 btn-default btn-sm p-5" title="Удалить" style="width:30px;"
                                                   asp-action="Delete" asp-controller="BooksManage" asp-route-id="@post.Id"><i class="fa fa-trash"></i></a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-rounded-20 btn-default btn-sm p-5" style="width:30px;"
                                                   asp-action="Delete" asp-controller="BooksManage" asp-route-id="@post.Id" title="Восстановить"><i class="fa fa-reply"></i></a>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
            <!-- /tile -->
            <!-- tile -->
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
</div>      
@section Scripts
{
    <script> 
        $(window).load(function(){                                           
            let oTable = $('#editable-usage').DataTable({
                "aoColumnDefs": [
                    { 'defaultContent': '-', 'bSortable': false, 'aTargets': [ "no_sort" ] }
                ]
            });                         
        });
                   
           
        function copyTextToClipboard(text) {          
            let input = document.createElement("input");
            input.value = text;
            document.body.appendChild(input);
            input.select();
            document.execCommand('copy');
            document.body.removeChild(input);
        }
         
        function copy(e,number){ 
            e.preventDefault();
            let a = document.querySelector("#link_"+number);
              copyTextToClipboard(a.href);
            return false;
        }

    </script>
}

