@model AddForUserViewModel

@{
    ViewBag.Title = "Добавить Задачи к исполнению ";
    Layout = "_Layout";
}

<div class="page page-tables-datatables">

    <div class="pageheader">
        <h2>@ViewBag.Title</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="DesiredResult">Задачи</a>
                </li>
                <li>
                    <a asp-action="" asp-controller="">Добавить к исполнению</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- row -->
     <div class="row">
           <!-- col -->
           <div class="col-md-12">
               <!-- tile -->
               <section class="tile">
                   <!-- tile header -->
                   <div class="tile-header dvd dvd-btm">
                       <h1 class="custom-font">
                           <strong>Выбрать из списка :</strong>
                       </h1>
                      
                   </div>
                   <!-- /tile header -->
   
                   <!-- tile body -->
                   <form class="create-form" asp-action="AddForUser" asp-controller="IssuesManage" method="post" enctype="multipart/form-data">
                   <div class="tile-body" style="display: block">
                       <div class="table-responsive">
                           <table class="table table-custom" id="editable-usage">
                               <thead>
                               <tr>
                                   <th>Выбрать</th>
                                  <th>Название</th>
                               </tr>
                               </thead>
                               <tbody>
                               @foreach (var issue in @Model.Issues)
                               {
                                   <tr class="odd gradeX">
                                       <td>
                                           <input type="checkbox" name="IssuesId[]" value="@issue.Id"><Br>
                                       </td>
                                       <td>@issue.Name</td>
                                      </tr>
                               }
                               
                               </tbody>
                           </table>
                            <input type="hidden" value="@Model.UserId" asp-for="@Model.UserId">
                            
                           <button type="submit" class="btn btn-info" style="margin:  20px 0 0;">Добавить</button>
                       </div>
                   </div>
                   </form>
                   <!-- /tile body -->
               </section>
               <!-- /tile -->
               <!-- tile -->
                 </div>
           <!-- /col -->
       </div></div>

 
   @section Scripts
   {
       <script> 
           $(window).load(function(){                                           
               let oTable = $('#editable-usage').DataTable({
                   "aoColumnDefs": [
                       { 'defaultContent': '-', 'bSortable': false, 'aTargets': [ "no_sort" ] }
                   ]
               });                         
           });
       </script>
   }
