@model IssueStepsViewModel

@{
    ViewBag.Title = "Добавление шагов к задаче";
    Layout = "_Layout";
}

<div class="page">
    <div class="pageheader">

        <h2>@ViewBag.Title - @Model.Issue.Name</h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="IssuesManage"> Задачи</a>
                </li>
                @if (Model.Action == "create")
                {
                    <li>
                        <a asp-action="Edit" asp-controller="IssuesManage" asp-route-id="@Model.Issue.Id"> Создание задачи</a>
                    </li> 
                }
                else
                {
                    <li>
                        <a asp-action="Edit" asp-controller="IssuesManage" asp-route-id="@Model.Issue.Id"> Редактирование задачи</a>
                    </li>  
                }
                <li>
                    <a asp-action="AddSteps" asp-controller="IssuesManage" asp-route-id="@Model.Issue.Id"> Добавление шагов к задаче</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-tables-datatables panel-body p-0">
        <section class="tile time-simple">

            <!-- tile body -->
            <div class="tile-body" data-issue="@Model.Issue.Id">
                <div class="row">
                    <div class="col-md-7">
                        <a class="btn btn-info btn-save" style="width: 100%" href="#">Сохранить и перейти к списку задач</a>
                    </div>
                    <div class="col-md-5" style="height: 70px; float: right;">
                        <div style="border: 1px dashed #aaa; text-align: center; height: 80%;">
                            <i class="fa fa-trash " style="font-size: 48px; margin-top: 3px; 
                            color: #aaa; display: flex; justify-content: center"></i>
                            <div class="trashbin"></div>
                        </div>
                    </div>
                </div>
                
                <!-- row -->
                <div class="row">
                    <div class="col-md-7" style="height: 100%">
                        <h3>Перенесите необходимые шаги в таблицу ниже</h3>
                        <div id="list" class="list">
                            @if (Model.DesignatedSteps.Count > 0)
                            {
                                @foreach (var step in Model.DesignatedSteps){
                                    <li class="list-group-item" style="width: 100% !important; cursor: pointer;">
                                        <input class="mb-0" type="hidden" name="id[]" value="@step.Id">
                                        <p class="mb-0">@step.Name</p>
                                    </li>
                                }
                            } 
                        </div>
                    </div>
                    <div class="col-md-5" style="height: 100%">
                        <h3>Таблица шагов</h3>
                        <div style="border: 1px solid #aaa">
                            <input class="form-control" type="text" name="searchKey" id="search" 
                                   placeholder="Поиск по названию шага">
                        </div>
                        <div id="step" class="steps">
                            @if (Model.AllSteps.Count > 0)
                            {
                                <ul class="list-group" style="cursor: pointer;">
                                    @foreach (var step in Model.AllSteps)
                                    {
                                        <li class="list-group-item" style="width: 100%">
                                            <input class="mb-0" type="hidden" name="id[]" value="@step.Id">
                                            <p class="mb-0">@step.Name</p>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                        <div>
                            <a asp-action="Create" asp-controller="DesiredResult" asp-area="Admin" asp-route-issuesId="@Model.Issue.Id" 
                               class="btn btn-info mt-20" style="width: 100%" target="_blank">Сохранить и перейти к добавлению ЖР</a>
                            <a asp-action="Create" asp-controller="StepsManage" asp-area="Admin" 
                                                           class="btn btn-info mt-20" style="width: 100%" target="_blank">Создать новый шаг</a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="btn btn-info mt-20 btn-save" style="width: 100%" href="#">Сохранить и перейти к списку задач</a>
                </div>
                
            </div>
            <!-- /tile body -->
        </section>
    </div>
</div>
@section Scripts
{
    <script>
    $(window).load(() => {        
        $('#search').keyup(function() {
            search();            
        });
        
        dragAndDrop();
        function search() {
            let searchKey = $('#search').val();           
            $.get('@Url.Action("AjaxStepSearch", "IssuesManage", new {area="Admin"})',  { word : searchKey}, function(data) {
            if (data == false)
                $('#step').html('<p class="text-danger">Поиск не дал результатов</p>');
            else
                $('#step').html(data);
                dragAndDrop()
            });
        }
    });
    function dragAndDrop() {
        var currentChildren;
        
        $('#list').sortable({
            revert: true,
            connectWith: '.trashbin',
            activate: function (event, ui) {
                currentChildren: $(this).children();
            },
            receive: function(event, ui) {
                let obj = $(this).children().not(currentChildren);               
            }
        });
        
        $('#step li').draggable({
            connectToSortable: '#list',
            helper: 'clone',
            revert: 'invalid'
        });
        
        $('.trashbin').sortable({
            receive: function(even, ui) {
                $(this).children('li').remove();
            }
        });
        
        
        $('.btn-save').click(function (event) {
            event.preventDefault();
            let arrayId = [];
            $("#list li input").each(function(items) {                
                arrayId.push($(this).val());
            });
            let issueId = $('.tile-body').data('issue');                                  
            $.ajax({
                url: '@Url.Action("AddIssueStepConnection", "IssuesManage", new {area = "Admin"})',                    
                type: 'GET',  
                traditional: true,                  
                data: {issueId: issueId, stepsId: arrayId},
                success: function() {
                  window.location.href = "@Url.Action("Index","IssuesManage")"
                }                                                        
            });                   
        });          
    }    

    </script>
}
