@model IssueStepsViewModel

@{
    ViewBag.Title = "Редактирование задачи";
    Layout = "_Layout";
}

<div class="page page-ui-portlets">
    <div class="pageheader">

        <h2>@ViewBag.Title</h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="IssuesManage"> Задачи</a>
                </li>
                <li>
                    <a asp-action="Edit" asp-controller="IssuesManage" asp-route-id="@Model.Issue.Id"> Редактирование задачи</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="tile-body">
            <form class="create-form" asp-action="Edit" asp-controller="IssuesManage" asp-area="Admin" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                
               <div class="row">
                   <div class="col-sm-12 portlets sortable">
                       <section class="tile portlet col-12">
               
                           <!-- tile body -->
                           <div class="tile-body">
                               <div >
                                   <label>Название:</label>
                                   <br/><span class="validationError" asp-validation-for="@Model.Issue.Name"></span>
                                   <input class="form-control" type="text" asp-for="Issue.Name" value="@Model.Issue.Name">
                               </div>
                               <div>
                                   <label>Описание:</label>
                                   <textarea name="issue.issueDescription" type="text" asp-for="Issue.IssueDescription" 
                                    >@Model.Issue.IssueDescription</textarea>
                               </div>
                               
                           </div>
                           
                           <!-- /tile body -->
                       </section>
                   </div>
               </div>
                <div class="col-sm-12 portlets sortable">
                    <section class="tile portlet col-12">

                        <!-- tile body -->
                        <div class="tile-body">
                            <h4 style="color: #0c5460">Шаги :</h4>
                            @if (Model.DesignatedSteps.Count > 0)
                            {
                                int i = 0;
                                @foreach (var step in Model.DesignatedSteps)
                                {
                                    i++;
                                    <div id="step-@i">
                                        
                                        <h3>
                                            <a asp-action="Edit" asp-controller="StepsManage" asp-route-id="@step.Id" >
                                                @i - @step.Name
                                            </a>
                                            <a class="btn btn-rounded-20 btn-default btn-sm mr-5 p-5" style="width:30px;"
                                               title="Удалить шаг" onclick="openStepConfirmDelete(@i,'@Model.Issue.Id','@step.Id')">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </h3>
                                        <div id="confirmStepDelete-@i" style="display: none">
                                            <p>Вы действительно хотите удалить связь задачи с этим шагом?</p>
                                            <button class="btn btn-small btn-danger" id="confirm-@i">Да</button>
                                            <button class="btn btn-small btn-green" id="cancel-@i">Нет</button>
                                        </div>
                                    </div>
                                    
                                    
                                }
                            }
                            <h4 style="color: #0c5460">Желаемые результаты :</h4>
                            @if (Model.DesiredResults.Count > 0)
                            {
                                int i = 0;
                                @foreach (var dr in Model.DesiredResults)
                                {
                                    i++;
                                    <div id="desRes-@i">
                                        <h4>
                                            # @dr.Number - @dr.Name
                                            <a class="btn btn-rounded-20 btn-default btn-sm mr-5 p-5" style="width:30px;" role="button" tabindex="0"
                                               title="Удалить желаемый результат" onclick="openDRConfirmDelete('@i','@Model.Issue.Id', '@dr.Id')">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </h4>
                                        <div id="confirmDesResDelete-@i" style="display: none">
                                            <p>Вы действительно хотите удалить связь задачи с этим ЖР?</p>
                                            <button class="btn btn-small btn-danger" id="confirmDRDelete-@i">Да</button>
                                            <button class="btn btn-small btn-green" id="cancelDR-@i">Нет</button>
                                        </div>
                                    </div>
                                    
                                }
                            }

                        </div>

                        <!-- /tile body -->
                    </section>
                </div>
                <div>
                    <input type="hidden" asp-for="Issue.Id" value="@Model.Issue.Id">
                    <button style="width: 49.5%" type="submit" name="choice" value="2" class="btn btn-info fade-out-left-lg">Сохранить и перейти к добавлению шагов</button>
                    <button style="width: 50%" type="submit" name="choice" value="3" class="btn btn-info fade-out-left-lg">Сохранить и перейти к добавлению ЖР</button>
                    <button style="width: 100%; margin-top: 10px" type="submit" name="choice" value="1" class="btn btn-info fade-out-left-lg">Сохранить изменения и выйти</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        CKEDITOR.replace('issue.issueDescription');
    </script>
    
    <script>   
        function openStepConfirmDelete(number,issueId, stepId) {          
            $('#confirmStepDelete-'+number).show();
            $('#confirm-'+number).click(function(event) {
                event.preventDefault();
                deleteStep(number, issueId, stepId);
            });
            $('#cancel-'+number).click(function(event) {
                event.preventDefault();
                $('#confirmStepDelete-'+number).hide();                
            });          
        }
        
        function openDRConfirmDelete(number,issueId, DesResId) {
            $('#confirmDesResDelete-'+number).show();
            $('#confirmDRDelete-'+number).click(function(event) {
                event.preventDefault();
                deleteDesireResult(number, issueId, DesResId);
            });
            $('#cancelDR-'+number).click(function(event) {
                event.preventDefault();
                $('#confirmDesResDelete-'+number).hide();                
            });
        }                
        
        function deleteStep(number, issueId, stepId) {              
            $.ajax({
                url: '@Url.Action("DeleteStepLink", "IssuesManage", new{area="Admin"})',
                type: 'POST',
                data: 
                {
                    'issueId': issueId,
                    'stepId': stepId
                },
                success: function(data) {
                    if (data === "true"){
                        $("#step-"+number).remove();
                    }
                }
            })
        }
        
        function deleteDesireResult(number, issueId, desResId) {          
            $.ajax({
                url: '@Url.Action("DeleteDesireResult", "IssuesManage", new{area="Admin"})',
                type: 'POST',
                data: 
                {
                    'issueId': issueId,
                    'desResultId': desResId
                },
                success: function(data) {
                    if (data === "true"){
                        $("#desRes-"+number).remove();
                    }
                }
            })
        }               
    </script>
}
