@model BookCreateViewModel
<div style="text-align: center">
    <span class="validationError">@Html.ValidationMessage("CustomError")</span>
</div>
<div class="row">
    <div class="col-sm-6 portlets sortable">
        <section class="tile portlet col - 6">

            <!-- tile body -->
            <div class="tile-body">
                <div >
                    <label>Код книги(ISBN)</label> <br/><span class="validationError" asp-validation-for="ISBN"></span>
                    <input class="form-control" type="text" asp-for="ISBN" value="@Model.ISBN">
                </div>
                <div >
                    <label>Автор</label> <br/><span class="validationError" asp-validation-for="Author"></span>
                    <input class="form-control" type="text" asp-for="Author" value="@Model.Author">
                </div>
                <div >
                    <label>Название</label><br/><span class="validationError" asp-validation-for="Name"></span>
                    <input class="form-control" type="text" asp-for="Name" value="@Model.Author">
                </div>
                <div >
                    <label>Год издания</label>
                         <br/><span class="validationError" asp-validation-for="YearOfWriting"></span>
                    <input placeholder="0000" class="form-control" type="text" asp-for="YearOfWriting" value="@Model.YearOfWriting">
               
                </div>

            </div> 
            <!-- /tile body -->
        </section>
    </div>
    <div class="col-sm-6 portlets sortable">
        <section class="tile portlet col - 6">
            <!-- tile body -->
            <div class="tile-body">
                <div id="categories-row" class="form-group" style="justify-content: center;"></div>
                <div >
                    <label>В какой редакции :</label>
                    <input class="form-control" type="text" asp-for="Edition" value="@Model.Edition">

                </div>
                <div >
                    <label>Физическое место нахождения</label>
                    <input class="form-control" type="text" asp-for="PhysicalPath" value="@Model.PhysicalPath">
                </div>
              
                <div class="col">
                    <span>Обложка</span>
                    <input class="btn" type="file" asp-for="CoverPath">
                </div>
                <div class="col">
                    <span>Цифровая версия книги в формате .pdf</span> <span class="validationError" asp-validation-for="VirtualPath"></span>
                    <input class="btn" type="file" asp-for="VirtualPath">
                </div>
</div>
           
            <!-- /tile body -->

        </section>
    </div>
</div>





