@model BookCreateViewModel

@{
    ViewBag.Title = "Добавление книги";
    Layout = "_Layout";
}

<div class="page">
    <div class="pageheader">
        <h2>@ViewBag.Title</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Profile" asp-controller="Service"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="SourceManage">Библиотека</a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="BooksManage">Добавить Книгу</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card" style="margin:auto;">
        <div class="card-body">
            <form asp-action="Create" asp-controller="BooksManage" asp-area="Admin" method="post" enctype="multipart/form-data" asp-antiforgery="true">
                @{ Html.RenderPartial("PartialViews/FormPartial", Model); }
                <input type="hidden" value="@Model.Id" id="postId" asp-for="Id">
                
            </form>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

     
@section Scripts
{
    
    <script >
          
        var loadCategories = function(){
            var catInput = $('#catInput').val();
            $("#categories-row").load('@Url.Action("CreateCategoryAjax", "SourceManage")',{Name: catInput});
        };
        var loadAuthor = function(){
                    var typeInput = $('#typeInput').val();
                    $("#types-row").load('@Url.Action("CreateAuthorAjax", "BooksManage")',{Name: typeInput});
                };
       
        var deleteCategory = function(categoryId){
            $("#categories-row").load('@Url.Action("DeleteCategoryAjax", "SourceManage")', {Id: categoryId});
        };
        var deleteAuthor = function(typeId){
                    $("#types-row").load('@Url.Action("DeleteAuthorAjax", "BooksManage")', {Id: typeId});
                };
               
        
        $(document).ready(function(){
        
            loadCategories();
            loadAuthor();
          
            $('body').on('click','#catButton',function(event){
                 event.preventDefault();
                 setTimeout(loadCategories, 200)
            });
           $('body').on('click','#typeButton',function(event){
                            event.preventDefault();
                            setTimeout(loadAuthor, 200)
                       });
           
            $('body').on('click','.buttonDeleteCat',function(event){
                 event.preventDefault();
                 setTimeout(function() {deleteCategory(event.currentTarget.value)}, 200)
            });
             $('body').on('click','.buttonDeleteType',function(event){
                             event.preventDefault();
                             setTimeout(function() {deleteAuthor(event.currentTarget.value)}, 200)
                        });
            
           
        })
    </script>
}

