@model BookCreateViewModel

@{
    ViewBag.Title = "Добавление книги";
    Layout = "_Layout";
}

<div class="page page-forms-common">
    <div class="pageheader">
        <h2>@ViewBag.Title</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Profile" asp-controller="Service"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="SourceManage">Библиотека</a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="BooksManage">Добавить Книгу</a>
                </li>
            </ul>
        </div>
    </div>
    <div style="margin:auto;">
        <form asp-action="Create" asp-controller="BooksManage" asp-area="Admin" method="post" enctype="multipart/form-data">
            @{ Html.RenderPartial("PartialViews/FormPartial", Model); }
            <input type="hidden" value="@Model.Id" id="postId" asp-for="Id">
        </form>
    </div>
</div>

     
@section Scripts
{
    
    <script >      
        
        let loadAuthor = function(){
            let typeInput = $('#typeInput').val();
            $.ajax({
                url: '@Url.Action("CreateAuthorAjax", "BooksManage", new {area = "Admin"})',                    
                type: 'GET',                    
                data: {name: typeInput},
                success: function(response) {                    
                    let data = '<option value="'+response.allAuthors[0].id+'">'+response.allAuthors[0].name+'</option>';
                    $('#author-chosen').append(data);
                    $('#author-chosen').trigger("chosen:updated");
                    $('#typeInput').val("")
                }                                                      
            });                   
        };

        $('#submit-btn').on('click', function(e) {
          e.preventDefault();
          let authorArray = [];
          let businessProcessesArray = [];
           
           let getbusinessP = document.getElementById('businessProcesses-row');
           let getBPName = getbusinessP.getElementsByTagName('span');
           for (let i=0; i < getBPName.length; i++){
               businessProcessesArray.push(getBPName[i].innerHTML);
           }
          var authors = document.getElementById('author-row');
          var getAuthorName = authors.getElementsByTagName('span');
          for (var i=0; i < getAuthorName.length; i++){
            authorArray.push(getAuthorName[i].innerHTML);
          }
           
          let formData = new FormData();
          let coverFile = document.getElementById('coverFile');
          let bookFile = document.getElementById('bookFile');         
          formData.append(coverFile.getAttribute('name'), coverFile.files[0]);
          formData.append(bookFile.getAttribute('name'), bookFile.files[0]);
          formData.append('IsRecipe', $('#isRecipe').val());
          formData.append('Name', $('#name').val());
          formData.append('PhisicalPath', $('#physPath').val());
          formData.append('YearOfWriting', $('#year').val());
          formData.append('Edition', $('#edition').val());
          formData.append('ISBN', $('#isbn').val());
          formData.append('authors', String(authorArray));
          formData.append('BookId', @Model.BookId);
          formData.append('BusinessProcesses', String(businessProcessesArray));
          
          $.ajax({
            url: '@Url.Action("Create", "BooksManage", new {area = "Admin"})',                    
            type: 'POST',
            traditional: true,                 
            data: formData,                                                                                                             
            contentType: false,
            processData: false,          
            success: function(response) {
                if (response === true){
                    window.location.href = "@Url.Action("Index","SourceManage", new{area="Admin"})"
                }
                else{
                    $('.pageheader').append('<span style="color: red">Вы не добавили книгу. Проверьте название или файл<span>')
                } 
            }                                                        
          });                   
        });
       
        let deleteAuthor = function(typeId){
                    $("#types-row").load('@Url.Action("DeleteAuthorAjax", "BooksManage")', {Id: typeId});
                };
        
        
        $(document).ready(function(){
                  
            
           $('body').on('click','#typeButton',function(event){
                            event.preventDefault();
                            setTimeout(loadAuthor, 200)
                       });
           
           $('body').on('click','.buttonDeleteType',function(event){
                             event.preventDefault();
                             setTimeout(function() {deleteAuthor(event.currentTarget.value)}, 200)
                        });                      
        })
    </script>
}

