@model Source

@{
    if (Model.Active)
    {
       ViewBag.Title = "Удаление книги"; 
    }
    else
    {
        ViewBag.Title = "Восстановление книги"; 
    }
    
    Layout = "_Layout";
}
<div class="page page-tables-datatables">

    <div class="pageheader">
        <h2>@ViewBag.Title</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="BooksManage"> Библиотека</a>
                </li>
                <li>
                    <a asp-action="Delete" asp-controller="BooksManage" asp-route-id="@Model.Id">@ViewBag.Title</a>
                </li>
            </ul>
        </div>
        @if (Model.Active)
        {
            <h2>Вы уверены что хотите удалить источник - @Model.Name</h2>
        }
        else
        {
            <h2>Вы уверены что хотите восстановить источник - @Model.Name</h2>
        }
        <div>
            <div style="display: inline-block">
                <form asp-action="Delete" asp-controller="BooksManage" asp-area="Admin" method="post" asp-route-id="@Model.Id">
                    <button class="btn btn-danger" type="submit">Подтвердить</button>
                </form>
            </div>
            <div style="display: inline-block">
                <a class="btn btn-info" asp-action="Index" asp-controller="BooksManage" asp-area="Admin">Отменить</a>
            </div>
        </div>
    </div>
</div>

