@model PostCategoryViewModel

<label>Выберите категорию<span class="text-danger">*</span></label>
  <span class="validationError" asp-validation-for="@Model.Post.CategoryId"></span>
<div style="display: flex">
    <select class="form-control" name="CategoryId" asp-for="@Model.Post.CategoryId">
        @foreach (var cat in @Model.Categories)
        {
            <option value="@cat.Id">@cat.Name</option>
        }
    </select>
   <span class="validationError" asp-validation-for="@Model.Post.CategoryId"></span>
    <div class="input-group-append" >
        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#modalCategory">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>



<div class="modal fade" data-backdrop="true" id="modalCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: center">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Категории</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3" style="justify-content: center">
                    <input type="text" id="catInput" class="input-register" placeholder="Добавьте категорию">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" data-dismiss="modal" type="button" id="catButton">Добавить</button>
                    </div>
                </div>
                @foreach (var cat in @Model.Categories)
                {
                    <p>- @cat.Name <button data-dismiss="modal" type="button" value="@cat.Id" class="btn buttonDeleteCat"><i class="fas fa-trash-alt"></i></button></p>
                }
            </div>
        </div>
    </div>
</div>
        