@model BusinessProcessIssuesViewModel

@{
    ViewBag.Title = "Подробно о бизнес-процессе";
    Layout = "_Layout";
}

<div class="page">
    <div class="pageheader">

        <h2>@ViewBag.Title</h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="BusinessProcessManage"> Бизнес-процессы</a>
                </li>
                <li>
                 <a asp-action="Details" asp-controller="BusinessProcessManage" asp-route-id="@Model.BusinessProcess.Id">Подробно</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-tables-datatables panel-body p-0">
        <section class="tile time-simple">

            <!-- tile body -->
            <div class="tile-body">

                <!-- row -->
                <div class="row">
                    <div class="col-md-10">
                        <h2 class="custom-font mt-0 mb-5">@Model.BusinessProcess.Name </h2>
                        <div class="desc text-default lt mb-20 mt-20 material_content">
                            @Html.Raw(Model.BusinessProcess.Description)
                            @if (Model.DesignatedIssues.Count > 0)
                            {
                                @foreach (var issue in Model.DesignatedIssues)
                                {
                                    <h3>
                                        <a asp-action="Details" asp-controller="IssuesManage" asp-route-id="@issue.Id">@issue.Name</a>
                                    </h3>
                                }
                            }

                        </div>

                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-info" asp-action="Edit" asp-controller="BusinessProcessManage" asp-area="Admin" asp-route-id="@Model.BusinessProcess.Id">Редактировать</a>
                    </div>
                </div>
            </div>
            <!-- /tile body -->
            
        </section>
    </div>
</div>
