@model GlossaryViewModel

<div class="row">
    <div class="col-sm-8 portlets">
        <section class="tile portlet col-9">
            <div class="tile-body">
                <div>
                    <label>Название термина</label>
                    @if (Model.Action == "AddInterpretation")
                    {
                        <input class="form-control" disabled="disabled" type="text" value="@Model.Name">
                        <input class="form-control" type="hidden" asp-for="Name" value="@Model.Name">
                    }
                    else
                    {
                        <input class="form-control" type="text" asp-for="Name" value="@Model.Name">
                    }
                    <br/><span class="validationError" asp-validation-for="Name"></span>
                </div>
                <div>
                    <label>Описание</label>
                    <textarea name="Description" class="form-control" type="text" asp-for="Description" value="@Model.Description"></textarea>
                    <br/><span class="validationError" asp-validation-for="Description"></span>
                </div>
            </div>
        </section>
    </div>
    <div class="col-sm-4 portlets">
        <section class="tile portlet col-3">
            <div class="tile-body">
                <div>
                    <label>Аббревиатура</label>
                    <input class="form-control" type="text" asp-for="Abbreviation" value="@Model.Abbreviation">
                </div>
                <div>
                    <label>Источник</label>
                    <input class="form-control" type="text" asp-for="Source" value="@Model.Source">
                </div>
                @if (Model.Name == null && Model.Description == null)
                {
                    <button type="submit" class="btn btn-info mt-10 glossary-create-button">Сохранить Термин с описанием</button>
                    
                }
                else
                {
                    <button type="submit" class="btn btn-info mt-10 glossary-update-button">Сохранить</button>
                    <a asp-action="Index" asp-controller="GlossarysManage" class="btn btn-info mt-10 glossary-cancel-button" style="margin:  20px 0 0;">Отменить</a>
                }
                
            </div>
        </section>
    </div>
</div>

    







