@model Source

@{
    ViewBag.Title = "Книга";
    Layout = "_LayoutEmployee";
}
<div class="page">
    <div class="pageheader">
        <h2>
            @ViewBag.Title <br/>@Model.Name</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li style="background: #138a72">
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Source">Книги</a>
                </li>
                <li>
                    <a asp-action="Details" asp-controller="Source" asp-route-id="@Model.Id">@Model.Name</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page row">
        <div class="tile-body">
            <div class="row">
                <div class="col-sm-4 portlets sortable">
                    <section class="tile portlet ">
                        <!-- tile body -->
                        <div class="tile-body">
                            <div style="text-align: center; margin: 10px;">
                                <img style=" width: 100%;-webkit-box-shadow: 14px 14px 28px -6px rgba(53,3,71,0.57);
                                                                          -moz-box-shadow: 14px 14px 28px -6px rgba(53,3,71,0.57);
                                                                          box-shadow: 14px 14px 28px -6px rgba(53,3,71,0.57);" src="~/@Model.CoverPath" alt="изображение обложки">
                            </div>
                        </div>
                        <!-- /tile body -->
                    </section>
                </div>
                <div class="col-sm-8 portlets sortable">
                    <section class="tile portlet ">
                        <!-- tile body -->
                        <div class="tile-body">
                            <div style="text-align: right; margin-right: 10px ">
                                @if (Model.IsRecipe)
                                {
                                    <span style="color: #0a6aa1">является Рецептом</span>
                                }
                                @if (Model.ISBN != null)
                                {
                                    <span>ISBN @Model.ISBN</span>
                                }
                            </div>
                            <div>

                                <h2>" @Model.Name "</h2>
                            </div>
                            @if (Model.YearOfWriting != null)
                            {
                                <div>Год издания : @Model.YearOfWriting</div>
                            }
                            @if (Model.Edition != null)
                            {
                                <div>Редакция : @Model.Edition</div>
                            }
                            <div>Дата добавления в систему : @Model.DateCreate</div>
                            <div>Дата последнего исправления : @Model.DateUpdate</div>
                            <div>
                                @if (Model.PhysicalPath == null)
                                {
                                    <p style="color: #0f9dca; font-style: inherit;">только в электронном виде</p>
                                }
                                else
                                {
                                    <p>Источник находится : @Model.PhysicalPath</p>
                                }
                            </div>
                            @if (Model.BusinessProcesses.Count > 0)
                            {
                                string processes = "";
                                @foreach (var bp in Model.BusinessProcesses)
                                {
                                    processes += bp.Name + ", ";
                                }
                                <p>Относится к бизнес-процессам: @processes</p>
                            }
                            @if (Model.VirtualPath != null)
                            {
                                <div>
                                    <a asp-action="ReadBook" asp-controller="Source" asp-route-id="@Model.Id"><i class="fa fa-book"></i> Читать книгу </a>
                                </div>
                            }
                            <div>
                                @if (ViewBag.BookTransferId != 0)
                                {
                                    @if (ViewBag.BookTransferLanguage == "ru")
                                    {<a asp-action="Details" asp-controller="Source" asp-route-path="" asp-route-id="@ViewBag.BookTransferId"><i class="fas fa-globe"></i> Перевод</a>}
                                    @if (ViewBag.BookTransferLanguage == "en")
                                    {<a asp-action="Details" asp-controller="Source" asp-route-path="" asp-route-id="@ViewBag.BookTransferId"><i class="fas fa-globe"></i> Оригинальная версия</a>}
                                }
                            </div>
                        </div>
                        <!-- /tile body -->
                    </section>
                </div>
            </div>
        </div>
        <!-- /tile body -->
        <div>
            <div class="">
                <textarea id="comment_area" class="form-control textarea_chat" placeholder="Оставить свой комментарий..." rows="2"></textarea>
                <button type="button" class="btn btn-info mt-10" name="@Model.Id" id="sendComment">Добавить комментарий</button>
                <button type="button" class="btn btn-info mt-10" onclick="viewComment('@Model.Id')">Посмотреть комментарии</button>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="panel panel-info mt-10">
            <div id="listComment"></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('#sendComment').click(function(event) {
            event.preventDefault();
            let id = $('#sendComment').attr('name');
            let comment = $('#comment_area').val();
            reset();        
            $.ajax({
                url: '@Url.Action("CreateComment", "SourceManage", new {area = "Admin"})',
                type: 'POST',
                data: { 
                    'sourceId': id, 
                    'description': comment,
                },
                success: function(data) {
                    $('#listComment').html(data); 
                },
            });  
        });
        
        let reset = function() {
            $('#comment_area').val("");               
        };
        
        function deleteComment(Id, SourceId) {
            $.ajax({
                url: '@Url.Action("DeleteComment", "SourceManage", new {area = "Admin"})',
                type: 'GET',
                data: { 
                    'id': Id,
                    'sourceId': SourceId, 
                },
                success: function(data) {
                    $('#listComment').html(data); 
                },
            });   
        }              
        function viewComment(id) {                             
            $.ajax({
                url: '@Url.Action("ViewComment", "SourceManage", new {area = "Admin"})',
                type: 'GET',
                data: { 
                    'id': id,
                },
                success: function(data) {
                $('#listComment').html(data); 
                },
            });   
        }        
    </script>
}
