@model  List<LibraryListViewModel>

@{
    ViewBag.Title = "Библиотека";
    Layout = "_LayoutEmployee";
}
<div class="page page-tables-datatables">
    <div class="pageheader">
        <h2>Источники</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li style="background: #138a72">
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Source" asp-area="">Библиотека</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-md-12">
            <!-- tile -->
            <section class="tile">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font">
                        <strong>Список источников</strong>
                    </h1>
                </div>
                <!-- /tile header -->

                <!-- tile body -->
                <div class="tile-body" style="display: block">
                    <div class="table-responsive">
                        <table class="table table-custom" id="editable-usage">
                            <thead>
                            <tr>
                                <th style="width: 30%">Название</th>
                                <th>Автор</th>
                                <th>Тип Контента</th>
                                <th>Категория</th>
                                <th>Тип файла</th>
                                <th>Дата создания</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var post in Model)
                            {
                                <tr class="odd gradeX">
                                    @if (post.Entity == "book")
                                    {
                                        <td>
                                            <a asp-action="Details" asp-controller="Source" asp-route-id="@post.Id">@post.Name</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a asp-action="Details" asp-controller="Material" asp-route-id="@post.Id">@post.Name</a>
                                        </td>
                                    }
                                    @if (post.Entity != "Книга")
                                    {
                                        if (post.Author != null)
                                        {
                                            <td>@post.Author</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    else
                                    {
                                        if (post.BookAuthors.Count > 0)
                                        {
                                            string authors = "";
                                            @foreach (var t in post.BookAuthors)
                                            {
                                                authors += t.Name + ", ";
                                            }
                                            <td>@authors.Trim().TrimEnd(',')</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    @if (post.TypeContent != null)
                                    {
                                        <td>@post.TypeContent.Name</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (post.Category != null)
                                    {
                                        <td>@post.Category.Name</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (post.Type != null)
                                    {
                                        <td>@post.Type.Name</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>@post.DateCreate</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
            <!-- /tile -->
            <!-- tile -->
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
</div>      
@section Scripts
{
    <script> 
        $(window).load(function(){                                           
            let oTable = $('#editable-usage').DataTable({
                "aoColumnDefs": [
                    { 'defaultContent': '-', 'bSortable': false, 'aTargets': [ "no_sort" ] }
                ]
            });                         
        });
    </script>
}
