@model  List<Source>

@{
    ViewBag.Title = "Библиотека";
    Layout = "_LayoutEmployee";
}
<div class="page page-tables-datatables">
    <div class="pageheader">
        <h2>Источники</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li style="background: #138a72">
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Source" asp-area="">Библиотека</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-md-12">
            <!-- tile -->
            <section class="tile">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font">
                        <strong>Список источников</strong>
                    </h1>
                </div>
                <!-- /tile header -->

                <!-- tile body -->
                <div class="tile-body" style="display: block">
                    <div class="table-responsive">
                        <table class="table table-custom" id="editable-usage">
                            <thead>
                            <tr>
                                <th style="width: 30%">Название</th>
                                <th>Автор</th>
                                <th>Тип источника</th>
                                <th>Категория</th>
                                <th>Связанные бизнес-процессы</th>
                                <th>Дата создания</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var source in Model)
                            {
                                <tr class="odd gradeX">
                                    <td>
                                        <a asp-action="Details" asp-controller="Source" asp-route-id="@source.Id">@source.Name</a>
                                    </td>
                                    @if (source.Authors.Count > 0)
                                    {
                                        string authors = "";
                                        @foreach (var author in source.Authors)
                                        {
                                            authors += author.Name + ", ";
                                        }
                                        <td>@authors.Trim().TrimEnd(',')</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (source.SourceType != null)
                                    {
                                        <td>@source.SourceType.Name</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (source.Category != null)
                                    {
                                        <td>@source.Category.Name</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (source.BusinessProcesses.Count > 0)
                                    {
                                        string processes = "";
                                        @foreach (var bp in source.BusinessProcesses)
                                        {
                                            processes += bp.Name + ", ";
                                        }
                                        <td>@processes.Trim().TrimEnd(',')</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>@source.DateCreate</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
            <!-- /tile -->
            <!-- tile -->
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
</div>

@section Scripts
{
    <script> 
        $(window).load(function(){                                           
            let oTable = $('#editable-usage').DataTable({
                "aoColumnDefs": [
                    { 'defaultContent': '-', 'bSortable': false, 'aTargets': [ "no_sort" ] }
                ]
            });                         
        });
    </script>
}
