@model IssueStepsViewModel

@{
    ViewBag.Title = "Подробно о задаче";
    Layout = "_LayoutEmployee";
}

<div class="page">
    <div class="pageheader">

        <h2>@ViewBag.Title</h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li style="background: #138a72">
                    <a asp-action="Details" asp-controller="Account"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Details" asp-controller="Account" >Личный кабинет</a>
                </li>
                <li>
                 <a asp-action="Details" asp-controller="Issues" asp-route-id="@Model.Issue.Id">Подробно о Задаче</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-tables-datatables panel-body p-0">
        <section class="tile time-simple">

            <!-- tile body -->
            <div class="tile-body">

                <!-- row -->
                <div class="row">
                    <div class="col-md-10">
                        <h2 class="custom-font mt-0 mb-5">@Model.Issue.Name </h2>
                        <div class="desc text-default lt mb-20 mt-20 material_content">
                            @Html.Raw(Model.Issue.IssueDescription)
                            <h2 style="color: #0c5460">Шаги :</h2>
                            @if (Model.DesignatedSteps.Count > 0)
                            {
                                int i = 0;
                                @foreach (var step in Model.DesignatedSteps)
                                {
                                    i++;
                                    <h3>
                                        <a asp-action="Details" asp-controller="Steps" asp-route-id="@step.Id">
                                            @i - @step.Name
                                        </a>
                                    </h3>
                                }
                            }
                          <h2 style="color: #0c5460">Желаемые результаты :</h2>
                            @if (Model.DesiredResults.Count > 0)
                            {
                                @foreach (var dr in Model.DesiredResults)
                                {
                                    <h4>
                                       # @dr.Number  -  @dr.Name
                                    </h4>
                                }
                            }
                            
                        </div>

                    </div>
                 
                </div>
            </div>
            <!-- /tile body -->
            
        </section>
    </div>
</div>

