@model PostCreateViewModel

@{
    ViewBag.Title = "Новый материал";
    Layout = "_Layout";
}
       

    <div class="card" style="margin:auto;">
        <div class="card-header text-center">
            Новый материал
        </div>
        <div class="card-body">
            <form asp-action="Create" asp-controller="Posts" method="post" enctype="multipart/form-data">
                @{ Html.RenderPartial("PartialViews/FormPartial", Model); }
             <button type="submit" class="btn btn-info" style="margin:  20px 0 0 270px; width: 500px;">Создать</button>
                <input type="hidden" value="@Model.Id" id="postId" asp-for="Id">
            </form>
        </div>
    </div>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

@section Scripts
{
       
    <script>
   
        CKEDITOR.replace('ckeditor1');
        </script>
     <script>
        var loadCategories = function(){
            var catInput = $('#catInput').val();
            $("#categories-row").load('@Url.Action("CreateCategoryAjax", "Posts")',{Name: catInput});
        };
        var loadTypes = function(){
            var typeInput = $('#typeInput').val();
            $("#types-row").load('@Url.Action("CreateTypeAjax", "Posts")',{Name: typeInput});
        };
        var deleteCategory = function(categoryId){
            $("#categories-row").load('@Url.Action("DeleteCategoryAjax", "Posts")', {Id: categoryId});
        };
        var deleteType = function(typeId){
            $("#types-row").load('@Url.Action("DeleteTypeAjax", "Posts")', {Id: typeId});
        };
        $(document).ready(function(){
            loadCategories();
            loadTypes();
            $('body').on('click','#catButton',function(event){
                 event.preventDefault();
                 setTimeout(loadCategories, 200)
            });
            $('body').on('click','#typeButton',function(event){
                 event.preventDefault();
                 setTimeout(loadTypes, 200)
            });
            $('body').on('click','.buttonDeleteCat',function(event){
                 event.preventDefault();
                 setTimeout(function() {deleteCategory(event.currentTarget.value)}, 200)
            });
            $('body').on('click','.buttonDeleteType',function(event){
                 event.preventDefault();
                 setTimeout(function() {deleteType(event.currentTarget.value)}, 200)
            });
        })
    </script>
}
