@model Post
@{
    ViewBag.Title = "Материал";
    Layout = "_Layout";
}

<section class="tile portlet">

    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong> @Model.Title</strong> </h1>
        <ul class="controls">
            <li class="dropdown">

                <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                    <i class="fa fa-spinner fa-spin"></i>
                </a>

                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                    <li>
                        <a role="button" tabindex="0" class="tile-toggle">
                            <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                            <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                        </a>
                    </li>
                    <li>
                        <a role="button" tabindex="0" class="tile-refresh">
                            <i class="fa fa-refresh"></i> Refresh
                        </a>
                    </li>
                    <li>
                        <a role="button" tabindex="0" class="tile-fullscreen">
                            <i class="fa fa-expand"></i> Fullscreen
                        </a>
                    </li>
                </ul>

            </li>
            <li class="remove">
                <a role="button" tabindex="0" class="tile-close">
                    <i class="fa fa-times"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body">
        <div class="row">
            <div class="col-8">



                @if (Model.Author != null)
                {
                    <h5>Автор : @Model.Author</h5>
                }
                <div>@Html.Raw(Model.TextContent)</div>
            </div>
            <div class="col-4">
                @if (Model.PhysicalPath != null)
                {
                    <div>Место нахождения - @Model.PhysicalPath</div>
                }
                <div>Дата добавления - @Model.DateOfCreate</div>
                @if (Model.DateOfUpdate < Model.DateOfCreate)
                {
                    <div>Дата обновления - @Model.DateOfUpdate</div>
                }
                <div>Категория - @Model.Category.Name</div>
                <div>Тип - @Model.Type.Name</div>

                <div style="margin: 10px;">
                    @if (Model.VirtualPath != null)
                    {
                        <a class="btn btn-blue" src="~/@Model.VirtualPath">ссылка</a>
                    }
                </div>
                <div style="margin: 5px; margin-left: auto">
                    <a asp-action="Create" asp-controller="QuestionAnswers" class="btn btn-info" asp-route-status="ToQuestion" asp-route-postId="@Model.Id">Задать вопрос</a>

                </div>
                <div>
                    <div class="panel-body">
                        <textarea id="comment_area" class="form-control textarea_chat" placeholder="Оставить свой комментарий..." rows="3"></textarea>
                        <br>
                        <button type="button" class="btn btn-info pull-right" name="@Model.Id" id ="sendCommetnt">Добавить</button>
                        <div class="clearfix"></div>
                    </div>
                    <div style="margin: 5px; margin-left: auto">
                        <button type="button" class="btn btn-info "
                                onclick="viewComment('@Model.Id')">
                            Посмотреть комментарии к этому материалу
                        </button>

                    </div>

                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading"></div>
            <div id="listComment"></div>
        </div>
    </div>
    <!-- /tile body -->
</section>
<!-- /tile -->
@section Scripts{
   
    <script >
    $('#sendCommetnt').click(function(event) {
      event.preventDefault();
      let id = $('#sendCommetnt').attr('name');
      let comment = $('#comment_area').val();
      reset();     
   
            $.ajax({
            url: '@Url.Action("CreateComment", "Posts")',
            type: 'POST',
            data: { 
            'PostId': id, 
            'Description': comment  },
            success: function(data) {
            $('#listComment').html(data); 
                        },
           });  
        });
            let reset = function() {
              $('#comment_area').val("");  
              
            };
         function deleteComment(Id, PostId) {
                     $.ajax({
                     url: '@Url.Action("DeleteComment", "Posts")',
                     type: 'GET',
                     data: { 
                         'id': Id,
                     'postId': PostId, 
                      },
                     success: function(data) {
                     $('#listComment').html(data); 
                     },
                 });   
                }
          function viewComment(id) {
                          $.ajax({
                         url: '@Url.Action("ViewComment", "Posts")',
                          type: 'GET',
                          data: { 'id': id },
                           success: function(data) {
                            $('#listComment').html(data); 
                                     },
                                 });   
                                }
    </script>
}

