@model Post
@{
    ViewBag.Title = "Материал";
    Layout = "_Layout";
}

<div class="container">
<div class="row">
    <div class="col-8">
       
        <h3>@Model.Title</h3>

        @if (Model.Author != null)
        {
            <h5>Автор : @Model.Author</h5>
        }
        <div>@Html.Raw(Model.TextContent)</div>
    </div>
    <div class="col-4">
        @if (Model.PhysicalPath != null)
        {
            <div>Место нахождения - @Model.PhysicalPath</div>
        }
        <div>Дата добавления - @Model.DateOfCreate</div>
        @if (Model.DateOfUpdate < Model.DateOfCreate)
        {
            <div>Дата обновления - @Model.DateOfUpdate</div>
        }
        <div>Категория - @Model.Category.Name</div>
        <div>Тип - @Model.Type.Name</div>
       
        <div style="margin: 10px;">
            @if (Model.VirtualPath != null)
            {
                <a class="btn btn-blue" src="~/@Model.VirtualPath"  >ссылка</a>                     
                                 
            }
        </div>
        <div style="margin: 5px; margin-left: auto">
            <a asp-action="Create" asp-controller="QuestionAnswers" class="btn btn-info" asp-route-status="ToQuestion">Задать вопрос</a>

        </div>
        <div style="margin: 5px; margin-left: auto">
            <button type="button" class="btn btn-info " 
                    onclick="sendComment('@Model.Id')">Посмотреть комментарии к этому материалу</button>
                    
        </div>
        
    </div>
</div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
         
    </div>
    <div id="listComment" class="row">
        
    </div>
            <div class="panel-body">
                <textarea class="form-control textarea_chat" placeholder="write a comment..." rows="3"></textarea>
                <br>
                <button type="button" class="btn btn-info pull-right"  onclick="sendComment('@Model.Id')">Отправить</button>
                <div class="clearfix"></div>
  </div>
</div>





@section Scripts{
   
    <script >
    
        function sendComment(postId) {
            $.ajax({
            url: '@Url.Action("CreateComment", "Posts")',
            type: 'POST',
            data: { 
            'PostId': postId, 
            'Description': $('.textarea_chat').val() },
            success: function(data) {
            $('#listComment').html(data); 
            },
        });
            }
         function deleteComment(id, postId) {
                     $.ajax({
                     url: '@Url.Action("DeleteComment", "Posts")',
                     type: 'POST',
                     data: { 
                         'id': id,
                     'postId': postId, 
                      },
                     success: function(data) {
                     $('#listComment').html(data); 
                     },
                 });   
                }
    </script>
}

