@model Post

@{
    ViewBag.Title = "Материал";
    Layout = "_Layout";
}

<div class="container">
<div class="row">
    <div class="col-8">
        <h3>@Model.Title</h3>

        @if (Model.Author != null)
        {
            <h5>Автор : @Model.Author</h5>
        }
        <div>@Html.Raw(@Model.Content)</div>
    </div>
    <div class="col-4">
        @if (Model.PhysicalPath != null)
        {
            <div>Место нахождения - @Model.PhysicalPath</div>
        }
        <div>Дата добавления - @Model.DateOfCreate</div>
        @if (Model.DateOfUpdate < Model.DateOfCreate)
        {
            <div>Дата обновления - @Model.DateOfUpdate</div>
        }
        <div>Категория - @Model.Category.Name</div>
        <div>Тип - @Model.Type.Name</div>
       
        <div style="margin: 10px;">
            @if (Model.VirtualPath != null)
            {
                <a class="btn btn-blue" src="~/@Model.VirtualPath"  >ссылка</a>                     
                                 
            }
        </div>
        <div>
            <a asp-action="Create" asp-controller="QuestionAnswers" class="btn btn-info" asp-route-status="ToQuestion">Задать вопрос</a>

        </div>
        
    </div>
</div>
</div>




 @{ Html.RenderPartial("PartialViews/CommentsPartial"); }

@section Scripts{
   
    <script >
        function sendComment(postId) {
            $.ajax({
            url: '@Url.Action("CreateComment", "Posts")',
            type: 'POST',
            data: { 
            'PostId': postId, 
            'Description': $('.textarea_chat').val() },
            success: function(data) {
            var now = new Date();
            $('.textarea_chat').val("");
            $( '.media-list' ).prepend( 
            "<li class=\"media\">"+
            "<div class=\"media-body\">" + 
            "<strong class=\"text-success\">"+
            "<a>"+data.author.name.toString()+"</a>" + 
            "</strong>"+
            " <span class=\"text-muted pull-right\">" + 
            "<small class=\"text-muted\">"+now.getDay()+"."+ now.getMonth() +"."+ now.getFullYear()+" "+now.getHours()+":"+now.getMinutes()+":"+now.getSeconds()+ 
            "</small>"+
            "</span>"+ 
            "<p>"+data.description.toString() +"</p>"+
            "</div>"+
            " </li>");
            },
        });
    }
    </script>
}

