@model List<Post>

@{
    ViewBag.Title = "Список материалов";
    Layout = "_Layout";
}



  <div class="pageheader">
        
                <h2>@ViewBag.Title</h2>
        
          <div class="page-bar">
        
              <ul class="page-breadcrumb">
                  <li>
                      <a href="index.html"><i class="fa fa-home"></i> Guide</a>
                  </li>
                  <li>
                      <a href="#">Материалы</a>
                  </li>
                  <li>
                      <a href="tables-datatables.html">Список</a>
                  </li>
              </ul>
          </div>
          </div>       
   <div class="page page-tables-datatables">
    
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-md-12">
                <!-- tile -->
                <section class="tile">
                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font">
                            <strong></strong>
                        </h1>
                        <ul class="controls">
                            <li>
                                <a role="button" tabindex="0" asp-action="Create" asp-controller="Posts"><i class="fa fa-plus mr-5"></i>Добавить</a>
                            </li>

                        </ul>
                    </div>
                    <!-- /tile header -->
                    <!-- tile body -->
                    <div class="tile-body">
                        <div class="table-responsive">
                            <table class="table table-custom" id="editable-usage">
                                <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Автор</th>
                                    <th>Категория</th>
                                    <th>Тип</th>
                                    <th>Дата создания</th>
                                    <th style="width: 160px;" class="no-sort">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (Post post in @Model)
                                {
                                    <tr class="odd gradeX">
                                        <td>
                                            <a asp-action="Details" asp-controller="Posts" asp-route-id="@post.Id">@post.Title</a>
                                        </td>
                                        <td>@post.Author</td>
                                        <td>@post.Category.Name</td>
                                        <td>@post.Type.Name</td>
                                        <td> @post.DateOfCreate.ToShortDateString()</td>

                                        <td >
                                            <a role="button" asp-action="Edit" asp-controller="Posts" asp-route-id="@post.Id" tabindex="0" class="edit text-primary text-uppercase text-strong text-sm mr-10">Изменить</a><a role="button" tabindex="0" class="delete text-danger text-uppercase text-strong text-sm mr-10" asp-action="Delete" asp-controller="Posts" asp-route-id="@post.Id">Удалить</a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /tile body -->

                </section>
                <!-- /tile -->
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>


@section Scripts
{
    <script>
              $(window).load(function(){                                           
                var oTable = $('#editable-usage').DataTable({
                    "aoColumnDefs": [
                      { 'bSortable': false, 'aTargets': [ "no-sort" ] }
                    ]
                });          
            
                         });
            </script>
}
