@model Post

@{
    ViewBag.Title = "Пост";
    Layout = "_Layout";
}

<div class="container">
    <div>
        <h3>@Model.Title</h3>

        @if (Model.Author != null)
        {
            <h4>@Model.Author</h4>
        }
        @if (Model.PhysicalPath != null)
        {
            <div>Расположения - @Model.PhysicalPath</div>
        }
        <div>Дата добавления - @Model.DateOfCreate</div>
        @if (Model.DateOfUpdate < Model.DateOfCreate)
        {
            <div>Дата обнавления - @Model.DateOfUpdate</div>
        }
        <div>Категория - @Model.Category.Name</div>
        <div>Тип - @Model.Type.Name</div>
    </div>
    <div>
        
       <div>@Html.Raw(@Model.Content)</div> 
        @if (Model.VirtualPath != null)
        {
            <div> @Model.VirtualPath</div>
        }
    </div>
    <div>
        <button>Задать вопрос</button>
    </div>
    
   
</div>

 @{ Html.RenderPartial("PartialViews/CommentsPartial"); }

@section Scripts{
    <script>
                    CKEDITOR.replace( 'content' ,{
                      height: 300    });                     
                        $(document).ready(function () {  
                         CKEDITOR.on('instanceReady', function (ev) {  
                         document.getElementById(ev.editor.id + '_top').style.display = 'none';  
                           })                                            
                     });                
                   
                </script>
    <script >
        function sendComment(postId) {
            $.ajax({
            url: '@Url.Action("CreateComment", "Posts")',
            type: 'POST',
            data: { 
            'PostId': postId, 
            'Description': $('.textarea_chat').val() },
            success: function(data) {
            var now = new Date();
            console.log(data)
            $('.textarea_chat').val("");
            $( '#messages_list' ).append( 
            "<div class=\"messages_chat darker\">" + 
            "<h6>" +  data.author.name.toString()  +"</h6> "+
            "<p>" + data.description.toString() + "</p> "+
            "<span class=\"time-right\">" +now.getDay()+"."+ now.getMonth() +"."+ now.getFullYear()+" "+now.getHours()+":"+now.getMinutes()+":"+now.getSeconds()+"</span> "+ 
            "</div>");
            },
        });
    }
    </script>
}

