@model ListUsersViewModel

@{
    ViewBag.Title = "Список сотрудников";
    Layout = "_Layout";
}
<div class="page page-tables-datatables">
    <div class="pageheader">
    
        <h2>@ViewBag.Title</h2>
    
        <div class="page-bar">
    
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="ListUsers" asp-controller="Users"> Сотрудники</a>
                </li>
                <li>
                    <a asp-action="ListUsers" asp-controller="Users"> Список</a>
                </li>
            </ul>
        </div>
    </div>
    
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-md-12">
            <!-- tile -->
            <section class="tile">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">

                    <ul>
                        <form asp-action="ListUsers" asp-controller="Users" method="post">
                            <div class="select-filter">
                                <select class="form-control my-form" asp-for="idPosition">
                                    <option value=@null>Все</option>
                                    @foreach (var position in Model.Positions)
                                    {
                                        <option value="@position.Id">@position.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="select-filter">
                                <select class="form-control my-form" asp-for="Action">
                                    <option value="true">Активные</option>
                                    <option value="false">Заблокированные</option>
                                    <option value=@null>Все</option>
                                </select>
                            </div>
                            <div class="select-filter">
                                <button type="submit" class="btn btn-default w-100">Фильтр</button>
                            </div>
                        </form>
                    </ul>
                    <ul class="controls">
                        <li>
                            <a role="button" tabindex="0" asp-action="Register" asp-controller="Account"><i class="fa fa-plus mr-5"></i>Добавить</a>
                        </li>

                    </ul>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    <div class="table-responsive">
                        <table style="width: 100%" class="table table-custom" id="editable-usage">
                            <thead>
                            <tr>
                                <th >#</th>
                                <th >Имя</th>
                                <th >Фамилия</th>
                                <th >Позиция</th>
                                <th >Статус</th>
                                <th >Действие</th>
                            </tr>
                            </thead>
                        <tbody>

                            @if (Model.Users.Count == 0)
                            {
                                <p>Список пуст</p>
                            }
                            else
                            {
                                @for (int i = 0; i < Model.Users.Count; i++)
                                {
                                    <tr>
                                        <td scope="row">@checked(i + 1)</td>
                                        <td>
                                            <a asp-controller="Users" asp-action="" asp-route-id="@Model.Users[i].Id"> @Model.Users[i].Name</a>
                                        </td>
                                        <td>
                                            @Model.Users[i].Surname
                                        </td>
                                        <td id="userPosition-@Model.Users[i].Id">@Model.Users[i].Position.Name</td>

                                        @if (Model.Users[i].Active)
                                        {
                                            <td>
                                                <p class="active_inform @Model.Users[i].Id">Активный </p>
                                            </td>

                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Выберите действие <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a onclick="changePosition('@Model.Users[i].Id')" data-toggle="modal" data-target="#modalPosition">Изменить позицию</a>
                                                        </li>
                                                        <li>
                                                            <a asp-action="Edit" asp-controller="Account" asp-route-id="@Model.Users[i].Id">Редактировать</a>
                                                        </li>
                                                        <li>
                                                            <a type="submit" class="BlockingAjax" id="@Model.Users[i].Id">Отключить</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <p class="active_inform @Model.Users[i].Id">Заблокирован</p>
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Выберите действие <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        
                                                        <li>
                                                            <a onclick="changePosition('@Model.Users[i].Id')" data-toggle="modal" data-target="#modalPosition">Изменить позицию</a>
                                                        </li>
                                                        <li>
                                                            <a asp-action="Edit" asp-controller="Account" asp-route-id="@Model.Users[i].Id">Редактировать</a>
                                                        </li>
                                                        <li>
                                                            <a type="submit" class="BlockingAjax" id="@Model.Users[i].Id">Подключить</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            
                                        }

                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->

            </section>
            <!-- /tile -->
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
</div>
<div class="modal fade" id="modalPosition" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: center">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Изменение позиции</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" data-dismiss="modal" type="button" id="positionButton">Изменить</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    
    <script>       
    
        $(window).load(function(){                                           
            var oTable = $('#editable-usage').DataTable({
                "aoColumnDefs": [
                    { 'defaultContent': '-', 'bSortable': false, 'aTargets': [ "no_sort" ] }
                ]
            });                         
        });               
    

        $(".BlockingAjax").click(function() {
            var id = $(this).attr("id");
            $.ajax({url: '@Url.Action("BlockingAjax", "Users")',type : 'POST',data : {'idUser' : id},
                success : function f(data)  {
                    if (data){
                        $("#"+id).html('Отключить');
                        $("."+id).html("<p>Активный</p>"); 
                    }
                    else{
                        $("#"+id).html('Подключить');
                        $("."+id).html("<p>Заблокирован</p>"); 
                    }
                }
            })
        });
        
        function changePosition(userId){
            $("#modal-body").load('@Url.Action("GetPosition", "Users")', {userId : userId});            
        }
        
        $('#positionButton').click(function(event) { 
            event.preventDefault();
            let positionId = $('#changePositionId').val();
            let userId = $('#userId').val();
            $.ajax({
                url: '@Url.Action("ChangePosition", "Users")',
                type : 'POST',
                data : {
                    'userId' : userId,
                    'positionId' : positionId},
                success : function(data) {
                    $('#modal-body').trigger("reset");
                    $('#userPosition-'+userId).html(data)
                }
            })
        });              
    </script>
    
    
}