@using Language = Guide.ViewModels.Language
@model GlossaryViewModel

@{
    ViewBag.Title = "Добавить Термин с Толкованием ";
    Layout = "_Layout";
}
<div class="page page-ui-portlets">
    <div class="pageheader">
        @if (Model.Action=="AddInterpretation")
        {
            <h2>Добавить новое Толкование</h2>
        }
        else
        {
            <h2>@ViewBag.Title
                @if (@Model.Language == Language.en)
                {
                    <h2 style="color: #647412"> : на английском языке </h2>
                }</h2>
            @if (@Model.Glossary != null)
            {
                 <h3>Для термина : @Model.Glossary.Name</h3>
            }
           
        }
        <div class="page-bar">
            @if (Model.Action=="AddInterpretation")
            {
                <ul class="page-breadcrumb">
                    <li>
                        <a asp-action="Profile" asp-controller="Service"><i class="fa fa-home"></i> Guide</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="GlossarysManage">Глоссарий</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="GlossarysManage">Список</a>
                    </li>
                    <li>
                        <a asp-action="Preview" asp-controller="GlossarysManage" asp-route-id="@Model.Id">@Model.Name</a>
                    </li>
                    <li>
                        <a asp-action="Create" asp-controller="GlossarysManage">Добавить интерпритацию</a>
                    </li>
                </ul>
            }
            else
            {
                <ul class="page-breadcrumb">
                     <li>
                         <a asp-action="Profile" asp-controller="Service"><i class="fa fa-home"></i> Guide</a>
                     </li>
                     <li>
                         <a asp-action="Index" asp-controller="GlossarysManage">Глоссарий</a>
                     </li>
                     <li>
                         <a asp-action="Create" asp-controller="GlossarysManage">Добавить</a>
                     </li>
                 </ul>
            }
        </div>
    </div>
    <div class="row">
        <div class="tile-body">
            <form class="create-form" asp-action="Create" asp-controller="GlossarysManage" asp-area="Admin" method="post" enctype="multipart/form-data" asp-antiforgery="true">
                @{ Html.RenderPartial("PartialViews/Glossary", Model); }
                <input type="hidden" value="@Model.Id" asp-for="Id">
                <input type="hidden" value="@Model.Language" asp-for="@Model.Language">
                <input type="hidden" value="@Model.GlossarysId" asp-for="@Model.GlossarysId">
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
            CKEDITOR.replace('Description');
           
                CKEDITOR.replace('Source', {
                      // Define the toolbar groups as it is a more accessible solution.
                      toolbarGroups: [{
                          "name": "basicstyles",
                          "groups": ["basicstyles"]
                        },
                        {
                          "name": "links",
                          "groups": ["links"]
                        },
                        {
                          "name": "paragraph",
                          "groups": ["list", "blocks"]
                        },
                                 
                        {
                          "name": "styles",
                          "groups": ["styles"]
                        }
                                ],
                      // Remove the redundant buttons from toolbar groups defined above.
                      removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar,document,insert,about'
                    });
               
                    
               

    </script>
     
}