@model GlossaryViewModel

@{
    ViewBag.Title = "Редактировать Толкование термина";
    Layout = "_Layout";
}
<div class="page">
    <div class="pageheader">
        <h2>Редактирование термина @Model.Name</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Profile" asp-controller="Service"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="GlossarysManage">Глоссарий</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="GlossarysManage">Список</a>
                </li>
                <li>
                    <a asp-action="Preview" asp-controller="GlossarysManage" asp-route-id="@Model.Id">@Model.Name</a>
                </li>
                <li>
                    <a asp-action="Edit" asp-controller="GlossarysManage" asp-route-id="@Model.Id">Редактирование</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="tile-body">
            <form class="create-form" asp-action="Edit" asp-controller="GlossarysManage" asp-area="Admin" method="post" enctype="multipart/form-data" asp-antiforgery="true">
                @{ await Html.RenderPartialAsync("PartialViews/Glossary", Model); }
                <input type="hidden" value="@Model.Id" asp-for="Id">
                <input type="hidden" value="@Model.InterpretationId" asp-for="InterpretationId">
            </form>
        </div>
    </div>

</div>

@section Scripts
{
    <script>
                CKEDITOR.replace('Description');
                CKEDITOR.replace('Source', {
                                      // Define the toolbar groups as it is a more accessible solution.
                                      toolbarGroups: [{
                                          "name": "basicstyles",
                                          "groups": ["basicstyles"]
                                        },
                                        {
                                          "name": "links",
                                          "groups": ["links"]
                                        },
                                        {
                                          "name": "paragraph",
                                          "groups": ["list", "blocks"]
                                        },
                                                 
                                        {
                                          "name": "styles",
                                          "groups": ["styles"]
                                        }
                                                ],
                                      // Remove the redundant buttons from toolbar groups defined above.
                                      removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar,document,insert,about'
                                    });
                               
    </script>
}