
@model List<Glossary>

@{
    ViewBag.Title = "Глоссарий";
    Layout = "_Layout";
}
<div class="page">
    <div class="pageheader">
        <h2>@ViewBag.Title</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Profile" asp-controller="Service"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="GlossarysManage">@ViewBag.Title</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-md-12">
            <!-- tile -->
            <section class="tile">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font">
                        <strong></strong>
                    </h1>
                    <ul class="controls">
                       
                        <li>
                            <a role="button" tabindex="0" asp-action="Create" asp-controller="GlossarysManage"><i class="fa fa-plus mr-5"></i>Добавить</a>
                        </li>
                        <li>
                            <a  role="button" tabindex="0" target="_blank"
                               title="Вид пользователя" asp-action="Index" asp-controller="Glossarys" asp-area="">
                                <i class="fa fa-eye"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    <div class="table-responsive">
                        <table class="table table-custom" id="editable-usage">
                            <thead>
                            <tr>
                                <th>
                                    Название Термина
                                </th>
                                <th>Term Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var glossary in Model)
                            {
                                
                                    <tr class="odd gradeX">
                                        <div class="row border">
                                            <td>
                                                @if (glossary.Active)
                                                {
                                                    <a asp-action="Preview" asp-controller="GlossarysManage" asp-route-id="@glossary.Id">@glossary.Name</a>
                                                }
                                                else  if (!glossary.Active)
                                                {
                                                    <a title="посмотреть удаленный" role="button"
                                                      asp-action="Create" asp-controller="GlossarysManage" asp-route-id="@glossary.Id" asp-route-enId="@glossary.GlossarysId">
                                                        <i class="fas fa-globe"></i>
                                                    </a>
                                                }
                                            </td>
                                            <td>
                                                @if (@glossary.GlossarysId != null)
                                                {
                                                    <a asp-action="Preview" asp-controller="GlossarysManage" asp-route-id="@glossary.GlossarysId">@glossary.Glossarys.Name</a>
                                                }
                                                else
                                                {
                                                    <a title="Добавить термин на английском" role="button"
                                                        asp-action="Create" asp-controller="GlossarysManage" asp-route-glossarysId="@glossary.Id">
                                                        <i class="fas fa-globe"></i>
                                                    </a>
                                                }
                                            </td>
                                        </div>
                                    </tr>
                                
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->

            </section>
            <!-- /tile -->
        </div>

        <!-- /row -->
    </div>
</div>

@section Scripts
{
    <script>
        $(window).load(function(){                                           
            let oTable = $('#editable-usage').DataTable({
                "aoColumnDefs": [
                    { 'defaultContent': '-', 'bSortable': false, 'aTargets': [ "no_sort" ] }
                ]
            });                         
        });
    </script>
}

