@model MaterialCreateViewModel

@{
    ViewBag.Title = "Новый материал";
    Layout = "_Layout";
}
  

<div class="page page-ui-portlets">
    <div class="pageheader">

        <h2>@ViewBag.Title</h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="MaterialManage"> Материалы</a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="MaterialManage"> Добавить</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="row">

        <div class="tile-body">
            <form class="create-form" asp-action="Create" asp-controller="MaterialManage" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                @{ Html.RenderPartial("PartialViews/FormPartial", Model); }
                <button type="submit" class="btn btn-info float-right" style=" width: 31%;">Создать</button>
                <input type="hidden" value="@Model.Id" id="postId" asp-for="Id">
            </form>
        </div>
        <!-- /tile body -->

    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="margin-left: 250px">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title custom-font">Новый Шаблон</h3>
                </div>
                <div>
                    <div class="p-3">
                        <div >
                            <label>Название шаблона<span class="text-danger">*</span></label><br/>
                            <input class="form-control" type="text" id="templateName">
                        </div>
                        <div >
                            <label>Заголовок<span class="text-danger">*</span></label><br/>
                            <input class="form-control" type="text" id="templateTitle">
                        </div>
                        <div>
                            <label>Содержание<span class="text-danger">*</span></label>
                            <textarea  name="ContentTemplate" type="templateContent"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" data-dismiss="modal" id="templateButton"><i class="fa fa-arrow-right"></i>Создать</button>
                    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Отменить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

</div>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

     
@section Scripts
{
    <script>
        CKEDITOR.replace('textContent');
    </script>
    <script>
        CKEDITOR.replace('ContentTemplate');
    </script>
    <script >
        function sendTemplate() {
            let id = $("#selectTemplate").val();
            $.ajax({
                url: '@Url.Action("ValTemplate", "MaterialManage", new {area = "Admin"})',
                type: 'GET',
                data: { 
                    'templatesId': id},
                success: function(data) {                                      
                    CKEDITOR.instances['TextContent'].setData(data.contentTemplate);
                },                  
            });
        }    
        var loadCategories = function(){
            var catInput = $('#catInput').val();
            $("#categories-row").load('@Url.Action("CreateCategoryAjax", "MaterialManage")',{Name: catInput});
        };
        var loadTemplate = function(){
            var templateTitle = $('#templateTitle').val();
            var templateContent = CKEDITOR.instances['ContentTemplate'].getData();
        var templateInput = $('#templateName').val();
            $("#template-row").load('@Url.Action("CreateTemplateAjax", "MaterialManage")',{Name: templateInput, ContentTemplate : templateContent, Title:templateTitle});
         };
        var loadTypes = function(){
            var typeInput = $('#typeInput').val();
            $("#types-row").load('@Url.Action("CreateTypeAjax", "MaterialManage")',{Name: typeInput});
        };
        var deleteCategory = function(categoryId){
            $("#categories-row").load('@Url.Action("DeleteCategoryAjax", "MaterialManage")', {Id: categoryId});
        };
                var deleteTemplate = function(templateId){
                    $("#template-row").load('@Url.Action("DeleteTemplateAjax", "MaterialManage")', {Id: templateId});
                };
        var deleteType = function(typeId){
            $("#types-row").load('@Url.Action("DeleteTypeAjax", "MaterialManage")', {Id: typeId});
        };
        $(document).ready(function(){
            loadTemplate();
            loadCategories();
            loadTypes();
            $('body').on('click','#catButton',function(event){
                 event.preventDefault();
                 setTimeout(loadCategories, 200)
            });
            $('body').on('click','#templateButton',function(event){
                 event.preventDefault();
                 setTimeout(loadTemplate, 200)
            });
            $('body').on('click','#typeButton',function(event){
                 event.preventDefault();
                 setTimeout(loadTypes, 200)
            });
            $('body').on('click','.buttonDeleteCat',function(event){
                 event.preventDefault();
                 setTimeout(function() {deleteCategory(event.currentTarget.value)}, 200)
            });
            $('body').on('click','.buttonDeleteTemplate',function(event){
                 event.preventDefault();
                 setTimeout(function() {deleteTemplate(event.currentTarget.value)}, 200)
                 });
            $('body').on('click','.buttonDeleteType',function(event){
                 event.preventDefault();
                 setTimeout(function() {deleteType(event.currentTarget.value)}, 200)
            });
        })
    </script>
}
