@model MaterialCreateViewModel

@{
    ViewBag.Title = "Редактирование материала";
    Layout = "_Layout";
}
      
<div class="page">
    <div class="pageheader">

        <h2>@ViewBag.Title</h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="MaterialManage"> Источники</a>
                </li>
                <li>
                    <a asp-action="Edit" asp-controller="MaterialManage" asp-route-id="@Model.Id"> Редактирвание источника</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="tile-body">
            <form class="create-form" asp-action="Edit" asp-controller="MaterialManage" asp-area="Admin" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                @{ Html.RenderPartial("PartialViews/FormPartial", Model); }
               
                <input type="hidden" value="@Model.Id" id="postId" asp-for="Id">
            </form>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title custom-font">Новый Шаблон</h3>
                </div>
                <div>
                    <div class="p-3">
                        <div >
                            <label>Название шаблона<span class="text-danger">*</span></label><br/>
                            <input class="form-control" type="text" id="templateName">
                        </div>
                        <div >
                            <label>Заголовок<span class="text-danger">*</span></label><br/>
                            <input class="form-control" type="text" id="templateTitle">
                        </div>
                        <div>
                            <label>Содержание<span class="text-danger">*</span></label>
                            <textarea  name="ContentTemplate" type="templateContent"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" data-dismiss="modal" id="templateButton"><i class="fa fa-arrow-right"></i>Создать</button>
                    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Отменить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
</div>


@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
   
@section Scripts
{
    <script>
        CKEDITOR.replace('textContent');
    </script>
    <script>
        CKEDITOR.replace('ContentTemplate');
    </script>
    <script>
     
        $("#templateIdBtn").click(function(event) {                    
            event.preventDefault();
            let id = $('#selectTemplate').val();
            $.get('@Url.Action("Create", "MaterialManage")',{templateId: id});                     
        });
                    
        let loadCategories = function(){
            let catInput = $('#catInput').val();
            $("#categories-row").load('@Url.Action("CreateCategoryAjax", "MaterialManage")',{Name: catInput});
        };
        let loadTemplate = function(){
            let templateTitle = $('#templateTitle').val();
            let templateContent = CKEDITOR.instances['ContentTemplate'].getData();
        let templateInput = $('#templateName').val();
            $("#template-row").load('@Url.Action("CreateTemplateAjax", "MaterialManage")',{Name: templateInput, ContentTemplate : templateContent, Title:templateTitle});
         };
        let loadTypes = function(){
            let typeInput = $('#typeInput').val();
            $("#types-row").load('@Url.Action("CreateTypeAjax", "MaterialManage")',{Name: typeInput});
        };
        let deleteCategory = function(categoryId){
            $("#categories-row").load('@Url.Action("DeleteCategoryAjax", "MaterialManage")', {Id: categoryId});
        };
                let deleteTemplate = function(templateId){
                    $("#template-row").load('@Url.Action("DeleteTemplateAjax", "MaterialManage")', {Id: templateId});
                };
        let deleteType = function(typeId){
            $("#types-row").load('@Url.Action("DeleteTypeAjax", "MaterialManage")', {Id: typeId});
        };
        $(document).ready(function(){
            loadTemplate();
            loadCategories();
            loadTypes();
            $('body').on('click','#catButton',function(event){
                 event.preventDefault();
                 setTimeout(loadCategories, 200)
            });
            $('body').on('click','#templateButton',function(event){
                 event.preventDefault();
                 setTimeout(loadTemplate, 200)
            });
            $('body').on('click','#typeButton',function(event){
                 event.preventDefault();
                 setTimeout(loadTypes, 200)
            });
            $('body').on('click','.buttonDeleteCat',function(event){
                 event.preventDefault();
                 setTimeout(function() {deleteCategory(event.currentTarget.value)}, 200)
            });
            $('body').on('click','.buttonDeleteTemplate',function(event){
                 event.preventDefault();
                 setTimeout(function() {deleteTemplate(event.currentTarget.value)}, 200)
                 });
            $('body').on('click','.buttonDeleteType',function(event){
                 event.preventDefault();
                 setTimeout(function() {deleteType(event.currentTarget.value)}, 200)
            });
        })
    </script>
}
