@model Post

@{
    ViewBag.Title = "Просмотр";
    Layout = "_LayoutEmployee";
}

<div class="page">
 <div class="pageheader">

        <h2>@Model.Title</h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li style="background: #138a72">
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Source">Библиотека</a>
                </li>
                <li>
                    <a asp-action="Details" asp-controller="Material" asp-route-id="@Model.Id">Просмотр</a>
                </li>
            </ul>
        </div>
    </div>
<div class="page-tables-datatables panel-body p-0">
<section class="tile time-simple">

    <!-- tile body -->
    <div class="tile-body">

        <!-- row -->
        <div class="row">
            <div class="col-sm-5 col-md-5 portlets sortable ">
                <section class="tile portlet ">
                    <h2 class="custom-font mt-0 mb-5">@Model.Title </h2>
                    <div class="desc text-default lt mb-20 mt-20 material_content">
                        @Html.Raw(Model.TextContent)

                        <div style="text-align: center; margin: 10px;">
                            <img style=" width: 85%;-webkit-box-shadow: 14px 14px 28px -6px rgba(53,3,71,0.57);
                                                                          -moz-box-shadow: 14px 14px 28px -6px rgba(53,3,71,0.57);
                                                                          box-shadow: 14px 14px 28px -6px rgba(53,3,71,0.57);" src="~/@Model.CoverPath" alt="изображение обложки">
                        </div>
                    </div>
                </section>
                

            </div>
            <div class=" col-sm-7 col-md-7  portlets sortable  material_discription" data-lightbox="gallery">
                <section class="tile portlet ">
                    <div class="tile-body">
                        @if (Model.Author != null)
                        {
                            <h5>Автор : @Model.Author</h5>
                            <hr class="line-dashed line-full">
                        }
                        @if (Model.AdditionalInformation != null)
                        {
                            <div>Дополнительная информация : @Model.AdditionalInformation</div>
                            <hr class="line-dashed line-full">
                        }
                        <div>Дата добавления : @Model.DateOfCreate</div>
                        <hr class="line-dashed line-full">
                        @if (Model.DateOfUpdate < Model.DateOfCreate)
                        {
                            <div>Дата обновления : @Model.DateOfUpdate</div>
                            <hr class="line-dashed line-full">
                        }
                        @if (Model.Category != null)
                        {
                            <div>Категория : @Model.Category.Name</div>
                            <hr class="line-dashed line-full">
                        }
                        @if (Model.Type != null)
                        {
                            <div>Тип : @Model.Type.Name</div>
                            <hr class="line-dashed line-full">
                        }
                        @if (Model.BusinessProcesses.Count > 0)
                        {
                            string processes = " ";
                            foreach (var process in Model.BusinessProcesses)
                            {
                                processes += process.Name + ", ";
                            }
                            processes.Trim().TrimEnd(',');
                            <div>Связан с бизнес процессами : @processes</div>
                            <hr class="line-dashed line-full">
                        }
                        @if (Model.VirtualPath != null)
                        {
                            <a class="btn btn-info" asp-action="ReadSource" asp-controller="Material" asp-area="" asp-route-id="@Model.Id">Просмотреть источник</a>
                        }
                        
                        <div style="margin: 5px; margin-left: auto">
                            <a asp-action="Create" asp-controller="FaqManage" class="btn btn-info" asp-route-status="ToQuestion" asp-route-postId="@Model.Id">Задать вопрос</a>
                        </div>
                        <div>
                            <div class="">
                                <textarea id="comment_area" class="form-control textarea_chat" placeholder="Оставить свой комментарий..." rows="3"></textarea>
                                <button type="button" class="btn btn-info mt-10" name="@Model.Id" id="sendComment">Добавить комментарий</button>
                                <div class="clearfix"></div>
                            </div>
                            <div style="margin: 5px; margin-left: auto">
                                <button type="button" class="btn btn-info "
                                        onclick="viewComment('@Model.Id')">
                                    Посмотреть комментарии
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="panel panel-info">
            <div id="listComment"></div>
        </div>
    </div>
    <!-- /tile body -->
</section>
</div>
</div>

<!-- /tile -->
@section Scripts{
   
    <script >
        $('#sendComment').click(function(event) {
            event.preventDefault();
            let id = $('#sendComment').attr('name');
            let comment = $('#comment_area').val();
            reset();        
            $.ajax({
                url: '@Url.Action("CreateComment", "SourceManage", new {area="Admin"})',
                type: 'POST',
                data: { 
                    'sourceId': id, 
                    'Description': comment,
                    'type': "source" 
                    
                    },
                success: function(data) {
                    $('#listComment').html(data); 
                },
            });  
        });
        
        let reset = function() {
            $('#comment_area').val("");               
        };
        
        function deleteComment(Id, PostId) {
            $.ajax({
                url: '@Url.Action("DeleteComment", "SourceManage", new {area="Admin"})',
                type: 'GET',
                data: { 
                    'id': Id,
                    'sourceId': PostId,
                    'type': "source" 
                },
                success: function(data) {
                    $('#listComment').html(data); 
                },
            });   
        }
              
        function viewComment(id) {
                              
            $.ajax({
                url: '@Url.Action("ViewComment", "SourceManage", new {area="Admin"})',
                type: 'GET',
                data: { 'id': id },
                success: function(data) {
                $('#listComment').html(data); 
                },
            });   
        }
    </script>
}

