@model List<Post>

@{
    ViewBag.Title = "Список источников Библиотеки";
    Layout = "_LayoutEmployee";
}
        
<div class="page page-tables-datatables">

    <div class="pageheader">
       <div class="page-bar">
            <ul class="page-breadcrumb">
                <li style="background: #138a72">
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Material">Библиотека</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Material">Список</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-md-12">
            <!-- tile -->
            <section class="tile">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font">
                        <strong></strong>
                    </h1>
                    
                </div>
                <!-- /tile header -->

                <!-- tile body -->
                <div class="tile-body" style="display: block">
                    <div class="table-responsive">
                        <table class="table table-custom" id="editable-usage">
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th>Автор</th>
                                <th>Категория</th>
                                <th>Тип</th>
                                <th>Дата создания</th>
                               
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var post in Model)
                            {
                                <tr class="odd gradeX">
                                    <td>
                                        <a asp-action="Details" asp-controller="Material" asp-route-id="@post.Id">@post.Title</a>
                                    </td>
                                    <td>@post.Author</td>
                                    @if (post.CategoryId != null)
                                    {
                                        <td>@post.Category.Name</td>
                                    }
                                    else
                                    {
                                        <td></td>  
                                    }
                                    <td>@post.Type.Name</td>
                                    <td>@post.DateOfCreate</td>
                                  
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
            <!-- /tile -->
            <!-- tile -->
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
</div>      
@section Scripts
{
    <script> 
        $(window).load(function(){                                           
            let oTable = $('#editable-usage').DataTable({
                "aoColumnDefs": [
                    { 'defaultContent': '-', 'bSortable': false, 'aTargets': [ "no_sort" ] }
                ]
            });                         
        });
    </script>
}