@using Microsoft.AspNetCore.Identity
@model List<Comment>
@inject UserManager<User> UserManager


    <div style = "overflow: scroll; /* Добавляем полосы прокрутки */
                                                 width: 100%; /* Ширина блока */
                                                 height: 250px; /* Высота блока */
                                                 padding: 5px; /* Поля вокруг текста */" class="comment-wrapper">

        <hr>
        <ul class="media-list">
            @if (Model.Count != 0)
            {
                @foreach (var comment in Model)
                {
                    <li class="media">
                        <div class="media-body">
                            <strong class="text-success">
                                
                                <a asp-controller="Account" asp-action="Details" asp-area="" asp-route-id="@comment.AuthorId">
                                    @comment.Author.UserName
                                </a>

                                @if (UserManager.GetUserId(User) == comment.AuthorId || User.IsInRole("admin"))
                                {
                                    <button class="btn_commit_del" onclick="deleteComment('@comment.Id','@comment.PostId')" >
                                        <i class="fa fa-trash" ></i> 
                                    </button>
                                }
                            </strong>
                            <span style="margin:  5px;" class="text-muted pull-right">
                                <small class="text-muted">@comment.DateOfCreate</small>
                            </span>
                            <p>
                                @comment.Description
                            </p>
                        </div>
                    </li>
                }
            }
            else {
                <h3>Еще никто не оставил комментарий</h3>
            }
        </ul>
    </div>

