@model SourceCreateViewModel
<div style="text-align: center">
    <span class="validationError">@Html.ValidationMessage("CustomError")</span>
</div>
<div class="row">
    <div class="col-sm-6 portlets sortable">
        <section class="tile portlet col - 6">

            <!-- tile body -->
            <div class="tile-body">
                <div >
                    <label>Название источника</label><br/><span class="validationError" asp-validation-for="Name"></span>
                    <input id="name" class="form-control" type="text" asp-for="Name" value="@Model.Name">
                </div>
                <div id="editor" class="mt-20">
                    <label>Описание источника</label>
                    <textarea id="sourceDescription"  name="sourceDescription" type="text" asp-for="SourceDescription" value="@Model.SourceDescription"></textarea>
                </div>
                <div class="form-group" id="author-row">
                    <label style="display: block" class="control-label">Выберите авторов</label>

                    <select multiple="" tabindex="3" id="author-chosen" class="chosen-select" style="width: 85%;">
                        <option  value=""></option>
                        @{ await Html.RenderPartialAsync("PartialViews/AuthorPartial", Model.AllAuthors); }
                    </select>
                    <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#modalAuthor">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="form-group" id="businessProcesses-row">
                     <label style="display: block" class="control-label">Выберите связанные Бизнес процессы</label>

                     <select multiple="" tabindex="3" class="chosen-select" style="width: 85%;">
                         <option value=""></option>
                         @{ await Html.RenderPartialAsync("PartialViews/BusinessProcessesPartal", Model); }
                     </select>
                 </div>
                <div>
                    <label>Дополнительная информация</label>
                    <textarea class="form-control" id="additionalInfo" type="text" asp-for="AdditionalInformation" value="@Model.AdditionalInformation"></textarea>
                </div>

            </div>
            <!-- /tile body -->
        </section>
    </div>
    <div class="col-sm-6 portlets sortable">
        <section class="tile portlet col - 6">
            <!-- tile body -->
            <div class="tile-body">
                <div > <form>
                    <label>ISBN(для книг)</label> <br/><span class="validationError" asp-validation-for="ISBN"></span>
                        <input id="isbn" class="form-control" type="text" asp-for="ISBN" value="@Model.ISBN"  value="">
                        <input class="btn btn-info" style="width: 80%;" type="submit" id="submit" value="Внести данные через ISBN">
                    </form>
                </div>
                <div id="categories-row" class="form-group" style="justify-content: center;"></div>
                <div >
                    <label>В какой редакции :</label>
                    <input id="edition" class="form-control" type="text" asp-for="Edition" value="@Model.Edition">
                </div>
                <div >
                    <label>Год издания</label>
                    <br/><span class="validationError" asp-validation-for="YearOfWriting"></span>
                    <input id="year" placeholder="0000" class="form-control" type="text" asp-for="YearOfWriting" value="@Model.YearOfWriting">
                </div>
                <div id="sourceTypes-row" class="form-group" style="justify-content: center;"></div>
                <div id="sourceState-row" class="form-group" style="justify-content: center;"></div>
                <div >
                    <label>Физическое местонахождение</label>
                    <input id="physPath" class="form-control" type="text" asp-for="PhysicalPath" value="@Model.PhysicalPath">
                </div>

                <div class="col">
                    <span>Цифровая версия источника</span> 
                    <span class="btn btn-rounded-20 btn-default btn-xs" style="margin-left: 5px" title="@ViewBag.SourceFormatAvailable">
                        <i style="padding-right: 1px" class="fas fa-question"></i>
                    </span>
                    <input id="sourceFile" accept="application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document, 
                        application/vnd.ms-excel, text/plain, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, 
                        application/vnd.ms-excel, application/msword, application/x-7z-compressed, application/zip, application/vnd.rar,
                        video/mp4, video/quicktime, video/x-msvideo, video/mpeg, audio/ogg, audio/AMR, audio/mpeg, image/png, 
                        image/jpeg, image/jpg, image/bmp" class="btn" style="padding: 6px 0" name="sourceFile" type="file">
                </div>
                <div class="col">
                    <span>Обложка источника</span>
                    <span class="btn btn-rounded-20 btn-default btn-xs" style="margin-left: 5px" title="@ViewBag.CoverFormatAvailable">
                        <i style="padding-right: 1px" class="fas fa-question"></i>
                    </span>
                    <input id="coverFile" accept="image/png, image/jpeg, image/jpg, image/bmp"  name="coverFile" class="btn" style="padding: 6px 0" type="file">
                </div>
                <div>
                    <label>Ключевые слова</label>
                    <textarea class="form-control" id="wordsKey" type="text" asp-for="Keys" value="@Model.Keys"></textarea>
                </div>
                <button id="submit-btn" type="submit" class="btn btn-info" style="width: 100%; margin-top: 1rem">Сохранить источник и выйти</button>
            </div>

            <!-- /tile body -->
            <div class="modal fade" id="modalAuthor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: center">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Добавить нового Автора</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3" style="justify-content: center">
                                <input type="text" id="authorInput" class="input-register" style="width: 460px;" >
                                <button class="btn btn-outline-secondary" data-dismiss="modal" type="button" id="authorButton" style="margin:0 0 5px 17px;">Добавить</button>
                            </div>
                            @foreach (var author in Model.AllAuthors)
                            {
                                <p id="author-@author.Id" style="text-align: right; " >- @author.Name <button data-dismiss="modal" type="button" value="@author.Id" class="btn buttonDeleteAuthor"><i class="fas fa-trash-alt"></i></button></p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>





