@using Microsoft.AspNetCore.Identity
@model UserDetailsViewModel
@inject UserManager<User> UserManager
@{
    ViewBag.Title = "Профиль пользователя";
    if (User.IsInRole("admin"))
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_LayoutEmployee";
    }
}

                <div class="page page-profile">

                    <div class="pageheader">
                        @if (User.IsInRole("admin"))
                        {
                            <h2 style="color: #51445f">Позиция сотрудника: @Model.User.Position.Name</h2>
                        }
                        else
                        {
                            <h2 style="color: #16a085">Ваша позиция: @Model.User.Position.Name</h2>
                        }
                        <div class="page-bar">

                            <ul class="page-breadcrumb">
                                @if (User.IsInRole("admin"))
                                {
                                    <li>
                                        <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                                    </li>
                                    <li>
                                        <a asp-action="ListUsers" asp-controller="UsersManage" asp-area="Admin"> Список сотрудников</a>
                                    </li>
                                    
                                }
                                else
                                {
                                    <li style="background: #138a72">
                                        <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                                    </li>
                                }

                                <li>
                                    <a asp-action="Details" asp-controller="Account" asp-area=""> Профиль пользователя</a>
                                </li>
                            </ul>

                        </div>

                    </div>
                <!-- page content -->
                    <div class="pagecontent">
                        <!-- row -->
                        <div class="row">

                            <!-- col -->
                           
                            <!-- /col -->

                            <!-- col -->
                            <div class="col-md-12">

                                <!-- tile -->
                                <section class="tile tile-simple">

                                    <!-- tile body -->
                                    <div class="tile-body p-0">

                                        <div role="tabpanel">
                                            <div>
                                                @if (@Model.Issues.Count > 0)
                                                {
                                                    int i = 0;
                                                    <h2>Вам назначены задачи:</h2>
                                                    @foreach (var issue in @Model.Issues)
                                                    {
                                                        i++;
                                                        <h4>
                                                            @if (User.IsInRole("admin"))
                                                            {
                                                                <a class="btn btn-rounded-20 btn-default btn-sm mr-5 p-5" style="width:30px;" role="button" tabindex="0"
                                                                   title="Удалить" asp-action="Delete"
                                                                   asp-controller="IssuesManage" asp-route-id="@issue.Id">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                            }
                                                            @i . <a asp-action="Details" asp-controller="Issues" asp-route-id="@issue.Id">@issue.Name</a>
                                                            <span onclick="viewStep('@issue.Id')">
                                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                            </span>
                                                           
                                                            <div id="step-@issue.Id" class="form-group" style="justify-content: left; "></div>
                                                        </h4>
                                                    }
                                                }
                                            </div>
                                            @if (User.IsInRole("admin"))
                                            {
                                                <div class="tascUsersDescription">
                                                    <form asp-action="Creat" asp-controller="TaskUsers">
                                                        <br><br><label>Сообщение для сотрудника:</label><br>
                                                        <textarea  name="Task">@if (Model.Task != null)
                                                                               {@Model.Task.Task
                                                                               }</textarea>
                                                        <input type="hidden" value="@Model.User.Id" name="UserId">
                                                        <button type="submit" class="btn btn-info float-right" style=" width: 31%;">Добавить</button>
                                                    </form>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="tascUsersDescription">
                                                    @if (Model.Task != null)
                                                    {
                                                        <div class="tascUsersDescription_tatl">
                                                            <h3>Сообщение от Администрации:</h3>
                                                        </div>

                                                        <div>
                                                            @Html.Raw(Model.Task.Task)
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <!-- /tile body -->

                                </section>
                                <!-- /tile -->

                            </div>
                            <!-- /col -->

                        </div>
                        <!-- /row -->

                </div>
                <!-- /page content -->

</div>

@section Scripts
{
    <script >
        
        CKEDITOR.replace('Task');
           
       </script >

    <script>
        function viewStep(id) {                                
                $.ajax({
                    url: '@Url.Action("ViewStep", "Steps")',
                    type: 'GET',
                    data: { 'id': id },
                    success: function(data) {
                         $("#step-"+id).html(data); 
                    },
                }) ;
                }
    </script>
    
}