@using Microsoft.AspNetCore.Identity
@model UserDetailsViewModel
@inject UserManager<User> UserManager
@{
    ViewBag.Title = "Профиль пользователя";
    if (User.IsInRole("admin"))
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_LayoutEmployee";
    }
}

<div class="page page-profile">
    <div class="pageheader">

        @if (User.IsInRole("admin"))
        {
            <h1 style="color: #4b0d5f">Должность @Model.User.Name @Model.User.Surname: @Model.User.Position.Name</h1>
        }
        else
        {
            <h1 style="color: #4b0d5f">Ваша Должность: @Model.User.Position.Name</h1>
        }


        <div class="page-bar">
            <ul class="page-breadcrumb">
                @if (User.IsInRole("admin"))
                {
                    <li>
                        <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                    </li>
                    <li>
                        <a asp-action="ListUsers" asp-controller="UsersManage" asp-area="Admin"> Список сотрудников</a>
                    </li>
                }
                else
                {
                    <li style="background: #138a72">
                        <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                    </li>
                }

                <li>
                    <a asp-action="Details" asp-controller="Account" asp-area=""> Профиль пользователя</a>
                </li>
            </ul>

        </div>
    </div>
    <!-- page content -->
    <div class="pagecontent">
        <!-- row -->
        <div class="row">
            <div class="col-md-9">
                <!-- tile -->
                <section class="tile tile-simple">
                    <!-- tile body -->
                    <div class="tile-body ">

                        <div role="tabpanel">
                            <div>
                                @if (Model.PositionsIssues.Count > 0)
                                {
                                    int i = 0;
                                    <h2 style="color: #25892e;">Задачи для Вашей Должности:</h2>
                                    @foreach (var issue in Model.PositionsIssues)
                                    {
                                        i++;
                                        <h4>
                                            @i . <a asp-action="Details" asp-controller="Issues" asp-route-id="@issue.Id">@issue.Name</a>
                                            <span onclick="viewStep('@issue.Id', '@i')">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </span>

                                            <div id="step-@i" class="form-group" style="justify-content: left; "></div>
                                        </h4>
                                    }
                                }
                            </div>
                            <div>
                                @if (Model.Issues.Count > 0)
                                {
                                    int i = 0;
                                    <h2 style="color: #25892e;">Вам назначены Личные задачи:</h2>
                                    @foreach (var issue in Model.Issues)
                                    {
                                        i++;
                                        <h4>
                                            @if (User.IsInRole("admin"))
                                            {
                                                <a class="btn btn-rounded-20 btn-default btn-sm mr-5 p-5" style="width:30px;" role="button" tabindex="0"
                                                   title="Удалить" asp-action="Delete"
                                                   asp-controller="IssuesManage" asp-route-id="@issue.Id">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            }
                                            @i . <a asp-action="Details" asp-controller="Issues" asp-route-id="@issue.Id">@issue.Name</a>
                                            <span onclick="viewStep('@issue.Id')">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </span>

                                            <div id="step-@issue.Id" class="form-group" style="justify-content: left; "></div>
                                        </h4>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <!-- /tile body -->

                </section>
                <!-- /tile -->
            </div>

            <div class="col-md-3">
                <section class="tile tile-simple">
                    <!-- tile body -->
                    <div class="tile-body p-0">
                        <div role="tabpanel">
                            <div>
                                @if (User.IsInRole("admin"))
                                {
                                    <div class="tascUsersDescription">
                                        <form asp-action="Creat" asp-controller="TaskUsers">
                                            <label>Сообщение для сотрудника:</label>
                                            <textarea style="width: 100%;" name="Task" asp-for="@Model.Task.Task" value ="@Model.Task.Task" >@if (Model.Task != null)
                                                                                                                                             {@Model.Task.Task
                                                                                                                                             }</textarea>
                                            <input type="hidden" value="@Model.User.Id" name="UserId">
                                            <button type="submit" class="btn btn-info float-right">Добавить</button>
                                        </form>
                                    </div>
                                }
                                else
                                {
                                    <div class="tascUsersDescription">
                                        @if (Model.Task != null)
                                        {
                                            <div class="tascUsersDescription_tatl">
                                                <h3>Сообщение от Администрации:</h3>
                                            </div>
                                            <div>
                                                @Html.Raw(Model.Task.Task)
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- /tile body -->
                </section>
            </div>
        </div>
    </div>
    <!-- /page content -->

</div>

@section Scripts
{
  <script>
   CKEDITOR.replace('Task', {
         // Define the toolbar groups as it is a more accessible solution.
         toolbarGroups: [{
             "name": "basicstyles",
             "groups": ["basicstyles"]
           },
           {
             "name": "links",
             "groups": ["links"]
           },
           {
             "name": "paragraph",
             "groups": ["list", "blocks"]
           },
                    
           {
             "name": "styles",
             "groups": ["styles"]
           }
                   ],
         // Remove the redundant buttons from toolbar groups defined above.
         removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar,document,insert,about'
       });
   
   
   
        function viewStep(id, number) {                                
                $.ajax({
                    url: '@Url.Action("ViewStep", "Steps")',
                    type: 'GET',
                    data: { 'id': id },
                    success: function(data) {
                         $("#step-"+number).html(data); 
                    },
                }) ;
                }
    </script>
    
}