@model PositionsViewModel

@{
    ViewBag.Title = "Регистрация";
    Layout = "_Layout";
}
<div class="container">
    <h2>Регистрация нового пользователя</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" asp-controller="Account" asp-action="Register" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="@Model.User.Email"></label><br/>
                    <input class="form-control" asp-for="@Model.User.Email"/>
                    <span asp-validation-for="@Model.User.Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.User.Name"></label><br/>
                    <input class="form-control" asp-for="@Model.User.Name"/>
                    <span asp-validation-for="@Model.User.Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.User.Surname"></label><br/>
                    <input class="form-control" asp-for="@Model.User.Surname"/>
                    <span asp-validation-for="@Model.User.Surname"></span>
                </div>
                <div id="position-row" class="form-group" style="justify-content: center"></div>
                <div class="form-group">
                    <label asp-for="@Model.User.Password"></label><br/>
                    <input class="form-control" asp-for="@Model.User.Password"/>
                    <span asp-validation-for="@Model.User.Password"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.User.PasswordConfirm"></label><br/>
                    <input class="form-control" asp-for="@Model.User.PasswordConfirm"/>
                    <span asp-validation-for="@Model.User.PasswordConfirm"></span>
                </div>
                <div>
                    <input class="form-control" type="submit" value="Регистрация"/>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var loadPosition = function(){
            var positionInput = $('#positionInput').val();
            $("#position-row").load('@Url.Action("CreatePositionAjax", "Account")',{Name: positionInput});
        };
       
        var deletePosition = function(positonId){
            $("#position-row").load('@Url.Action("DeletePositionAjax", "Account")', {Id: positonId});
        };
       
        $(document).ready(function(){
            loadPosition();
            $('body').on('click','#positionButton',function(event){
                 event.preventDefault();
                 setTimeout(loadPosition, 200)
            });
            $('body').on('click','.buttonDeletePosition',function(event){
                 event.preventDefault();
                 setTimeout(function() {deletePosition(event.currentTarget.value)}, 200)
            });
            
        })
    </script>
}
