@model RegisterViewModel

@{
    ViewBag.Title = "Регистрация";
    Layout = "_Layout";
}
<div class="page">
    <div class="pageheader">
        <h3>Пригласить сотрудника на выполнение задачи</h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="ListUsers" asp-controller="UsersManage" asp-area="Admin">Пользователи</a>
                </li>
                <li>
                    <a asp-action="Register" asp-controller="Account">Добавить</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container w-420 p-15 bg-white mt-40 text-center">
        <form method="post" asp-controller="Account" asp-action="Register" enctype="multipart/form-data" class="form-validation mt-5">
            <div asp-validation-summary="ModelOnly"></div>
            <p class="text-center">
                Введите данные сотрудника :
            </p>
            <div class="form-group">
                <label asp-for="@Model.Role">Уровень доступа</label><br/>
                <select asp-for="@Model.Role">
                    <option value="@Roles.user">Пользователь</option>
                    <option value="@Roles.admin">Администратор</option>
                </select>
            </div>
            <div class="form-group">
                <input type="email" class="form-control underline-input" asp-for="Email" placeholder="Почта">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control underline-input" asp-for="Name" placeholder="Имя">
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">

                <input type="text" class="form-control underline-input" asp-for="Surname" placeholder="Фамилия">
                <span asp-validation-for="Surname"></span>
            </div>
            <div id="position-row" class="form-group" style="justify-content: center"></div>
            <div class="form-group">
                <div class="input-group">
                    <input id="password" type="password" placeholder="Пароль(минимальная длина 6 символов)" class="form-control" asp-for="Password"/>
                    <div class="input-group-addon" id="s-h-pass">
                        <span >
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input id="passwordConfirm" type="password" placeholder="Повторите пароль" class="form-control" asp-for="PasswordConfirm"/>
                    <div class="input-group-addon" id="s-h-passconfirm">
                        <span >
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
            <div class="register-form-footer lt wrap-reset mt-20">
                <input type="submit" class="btn btn-greensea b-0 pull-center" value="Добавить"/>
            </div>
        </form>
    </div>
</div>

@section Scripts
{

    <script>
        var loadPosition = function(){
            var positionInput = $('#positionInput').val();
            $("#position-row").load('@Url.Action("CreatePositionAjax", "Account")',{Name: positionInput});
        };
       
        var deletePosition = function(positonId){
            $("#position-row").load('@Url.Action("DeletePositionAjax", "Account")', {Id: positonId});
        };
       
        $(document).ready(function(){
            loadPosition();
            $('body').on('click','#positionButton',function(event){
                 event.preventDefault();
                 setTimeout(loadPosition, 200)
            });
            $('body').on('click','.buttonDeletePosition',function(event){
                 event.preventDefault();
                 setTimeout(function() {deletePosition(event.currentTarget.value)}, 200)
            });
            
        });
         $( document ).ready(function() {
                         $('#s-h-passconfirm').click(function(){
                             var Type = $('#passwordConfirm').attr('type') == "text" ? "password" : 'text',
                                 c = $(this).html() == "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i>" ?
                                  "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i>" :
                                   "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i>";
                             $(this).html(c);
                             $('#passwordConfirm').prop('type', Type);
                         });
                     });
                     
                    $( document ).ready(function() {
                                     $('#s-h-pass').click(function(){
                                         var Type = $('#password').attr('type') == "text" ? "password" : 'text',
                                             c = $(this).html() == "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i>" ?
                                              "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i>" :
                                               "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i>";
                                         $(this).html(c);
                                         $('#password').prop('type', Type);
                                     });
                                 }); 
    </script>
}