@model List<Glossary>

@{
    ViewBag.Title = "Глоссарий";
    Layout = "_LayoutEmployee";
}
<div class="page">
    <div class="pageheader">

        <h2>@ViewBag.Title</h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li style="background: #138a72">
                    <a asp-action="Details" asp-controller="Account"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Glossarys">@ViewBag.Title</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Glossarys">Список</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-md-12">
            <!-- tile -->
            <section class="tile">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font">
                        <strong></strong>
                    </h1>

                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    <div class="table-responsive">
                        <table class="table table-custom" id="editable-usage">
                            <thead>
                            <tr>
                                <th>Название Термина</th>
                                <th>Term Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var glossary in Model)
                            {
                                <tr class="odd gradeX">
                                    <div class="row border">
                                        <td>
                                            @if (glossary.Active)
                                            {
                                                <a asp-action="Preview" asp-controller="Glossarys" asp-route-id="@glossary.Id" asp-area="">@glossary.Name</a>
                                            }
                                            @if (!glossary.Active && glossary.GlossarysId != null)
                                            {
                                                <i class="fas fa-globe"></i>
                                            }
                                        </td>
                                        <td>
                                            @if (glossary.GlossarysId != null)
                                            {
                                                <a asp-action="Preview" asp-controller="Glossarys" asp-route-id="@glossary.GlossarysId" asp-area="">@glossary.Glossarys.Name</a>
                                            }
                                            @if (glossary.Active && glossary.GlossarysId == null)
                                            {
                                                <i class="fas fa-globe"></i>
                                            }
                                        </td>
                                    </div>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->

            </section>
            <!-- /tile -->
        </div>

        <!-- /row -->
    </div>
</div>


@section Scripts
{
    <script>
        $(window).load(function(){                                           
            let oTable = $('#editable-usage').DataTable({
                "aoColumnDefs": [
                    { 'defaultContent': '-', 'bSortable': false, 'aTargets': [ "no_sort" ] }
                ]
            });                         
        });
    </script>
}

