@model Glossary

@{
    ViewBag.Title = "Глоссарий";
    Layout = "_LayoutEmployee";
    bool first = true;
}

<div class="page">
    <div class="pageheader">
        <h2>@Model.Name</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li style="background: #138a72">
                    <a asp-action="Details" asp-controller="Account"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Glossarys">Глоссарий</a>
                </li>
                <li>
                    <a asp-action="Preview" asp-controller="Glossarys" asp-route-id="@Model.Id">@Model.Name</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 portlets">
            <section class="tile portlet col - 6">
                @foreach (var interpretation in Model.Interpretations)
                {
                    <div class="tile time-simple">
                        @if (first)
                        {
                            <div class="tile-header dvd dvd-btm">
                                <h1 class="custom-font">
                                    @if (interpretation.Abbreviation != null)
                                    {
                                        <strong>@Model.Name ( @interpretation.Abbreviation)</strong>
                                    }
                                    else
                                    {
                                        <strong>@Model.Name</strong>
                                    }
                                </h1>

                            </div>
                            first = false;
                        }
                        <div class="tile-body">
                            @Html.Raw(interpretation.Description)
                            <hr/>
                            <div >
                                @Html.Raw(interpretation.Source)
                            </div>
                        </div>
                    </div>
                }

            </section>
        </div>
        @if (Model.GlossarysId != null)
        {
            <div class="col-sm-6 portlets ">
                <section class="tile portlet col - 6">
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font">
                            <strong>@Model.Glossarys.Name ( @Model.GlossarysInterpretations[0].Abbreviation)</strong>
                        </h1>
                    </div>
                    @foreach (var interpretation in Model.GlossarysInterpretations)
                    {
                        <div class="tile-body">
                            @Html.Raw(interpretation.Description)
                            <hr/>
                            <div style="text-align: right">
                                @Html.Raw(interpretation.Source)
                            </div>
                        </div>
                    }
                </section>
            </div>
        }
    </div >
</div>


