@model Step

@{
    ViewBag.Title = "Описание шага";
    Layout = "_LayoutEmployee";
}

<div class="page">
    <div class="pageheader">

        <h2>@ViewBag.Title</h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li style="background: #138a72">
                    <a asp-action="Details" asp-controller="Account"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                   <a href='javascript:history.go(-1)'>@Model.Baсk</a>
                </li>
                <li>
                    <a asp-action="Details" asp-controller="Steps" asp-route-id="@Model.Id">@ViewBag.Title</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-tables-datatables panel-body p-0">
        <section class="tile time-simple">

            <!-- tile body -->
            <div class="tile-body">

                <!-- row -->
                <div class="row">
                    <div class="col-md-9">
                        <h2 class="custom-font mt-0 mb-5">@Model.Name </h2>
                        <div class="desc text-default lt mb-20 mt-20 material_content">
                            @Html.Raw(Model.StepDescription)
                            <h2 style="color: #0c5460">Желаемые результаты :</h2>
                            @if (Model.DesiredResults.Count > 0)
                            {
                                @foreach (var dr in Model.DesiredResults)
                                {
                                    <h4>
                                        # @dr.Number - @dr.Name
                                    </h4>
                                }
                            }
                        </div>

                    </div>
                    <div class="col-md-3 material_discription" data-lightbox="gallery">


                        <div style="margin: 5px; margin-left: auto">
                            <a asp-action="Create" asp-controller="QuestionAnswers"
                               class="btn btn-info" asp-route-status="ToQuestion" asp-route-postId="@Model.Id">
                                Задать вопрос
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /tile body -->
        </section>
    </div>
</div>

<!-- /tile -->


