@model List<QuestionAnswer>

@{
    ViewBag.Title = "Часто задаваемые вопросы";
    Layout = "_Layout";
}
<div class="page page-tables-datatables">

    <div class="pageheader">
        <h2>Часто задаваемые вопросы</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="FaqManage">Вопросы</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="FaqManage">Список</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-md-12">
            <!-- tile -->
            <section class="tile">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font">
                        <strong>Частые вопросы</strong>
                    </h1>
                    <ul class="controls">
                        <li>
                            <a role="button" tabindex="0" target="_blank" asp-action="Create" asp-controller="FaqManage"><i class="fa fa-plus mr-5"></i>Добавить</a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" target="_blank" asp-action="Index" asp-controller="QuestionAnswers"><i class="fa fa-eye mr-5"></i>Вид пользователя</a>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->

                <!-- tile body -->
                <div class="tile-body" style="display: block">
                    <div class="table-responsive">
                        <table class="table table-custom" id="editable-usage">
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th style="width: 160px;" class="no-sort">Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var question in Model)
                            {
                                <tr class="odd gradeX">
                                    <td>
                                        <a asp-action="Preview" asp-controller="FaqManage" asp-route-id="@question.Id">@question.Question</a>
                                    </td>
                                    
                                    <td>
                                        <a role="button" asp-action="Preview" asp-controller="QuestionAnswers" asp-area="" asp-route-id="@question.Id"
                                           target="_blank" tabindex="0" class="edit text-green text-uppercase text-strong text-sm mr-10">Вид пользователя</a>
                                        <a role="button" asp-action="" asp-controller="FaqManage" asp-route-id="@question.Id" tabindex="0" class="edit text-primary text-uppercase text-strong text-sm mr-10">Изменить</a>
                                        <a role="button" tabindex="0" class="delete text-danger text-uppercase text-strong text-sm mr-10" asp-action="Delete" asp-controller="FaqManage" asp-route-id="@question.Id">Удалить</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
            <!-- /tile -->
            <!-- tile -->
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
</div>    


   
  @section Scripts
  {
      <script> 
          $(window).load(function(){                                           
              let oTable = $('#editable-usage').DataTable({
                  "aoColumnDefs": [
                      { 'defaultContent': '-', 'bSortable': false, 'aTargets': [ "no_sort" ] }
                  ]
              });                         
          });
      </script>
  }