@model QuestionAnswer

@{
    ViewBag.Title = "Ситуация и ее решение";
    Layout = "_Layout";
}

<div class="page">
    <div class="pageheader">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="FaqManage">Ситуационная база</a>
                </li>
                <li>
                    <a asp-action="Preview" asp-controller="FaqManage" asp-route-id="@Model.Id"> @ViewBag.Title</a>
                </li>
            </ul>
        </div>
    </div>

    <h2>Ситуация :"@Model.Question"</h2>
    <h4>решение ситуации от @Model.Responder.Name @Model.Responder.Surname :</h4>
    <div class="row">

        <div class="col-sm-12 portlets sortable">
            <section class="tile portlet ">

                <!-- tile body -->
                <div class="tile-body">
                    <p> @Html.Raw(Model.Answer)</p>
                </div>
                <!-- /tile body -->

            </section>
        </div>
    </div>
    <div>
        @if (Model.Answer != null)
        {
            <div class="mt-20">
                <a class="btn btn-sm btn-cyan" asp-action="Create" asp-controller="FaqManage" asp-route-id="@Model.Id" asp-route-status="Edit">Редактировать</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="FaqManage" asp-route-id="@Model.Id" asp-route-status="Edit">Удалить</a>
            </div>
        }
        else
        {
            <div>
                <a asp-action="Create" asp-controller="FaqManage" asp-route-id="@Model.Id" asp-route-status="ToAnswer">Ответить</a>
            </div>
            <div>
                <a asp-action="Delete" asp-controller="FaqManage" asp-route-id="@Model.Id" asp-route-status="ToAnswer">Удалить</a>
            </div>
        }
    </div>
</div>