@model QuestionAnswer

@{
    ViewBag.Title = "Подробный ответ";
    Layout = "_Layout";
}

<div class="page">
    <div class="pageheader">

        <h2>@Model.Question</h2>

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="FaqManage"> Вопрос-ответ</a>
                </li>
                <li>
                    <a asp-action="Preview" asp-controller="FaqManage" asp-route-id="@Model.Id"> @ViewBag.Title</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="pt-3">
        @Model.Answer
    </div>

    <div>
        @if (Model.Answer != null)
        {
            <div class="mt-20">
                <a class="btn btn-sm btn-cyan" asp-action="Create" asp-controller="FaqManage" asp-route-id="@Model.Id" asp-route-status="Edit">Редактировать</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="FaqManage" asp-route-id="@Model.Id" asp-route-status="Edit">Удалить</a>
            </div>
        }
        else
        {
            <div>
                <a asp-action="Create" asp-controller="FaqManage" asp-route-id="@Model.Id" asp-route-status="ToAnswer">Ответить</a>
            </div>
            <div>
                <a asp-action="Delete" asp-controller="FaqManage" asp-route-id="@Model.Id" asp-route-status="ToAnswer">Удалить</a>
            </div>
        }
    </div>
</div>