@model QuestionAnswersViewModel

@{
   @if (Model.Status == QuestionAnswersStatus.Create)
    {
        ViewBag.Title = "Добавление";
    }
    else if  (Model.Status == QuestionAnswersStatus.Edit)
    {
        ViewBag.Title = "Редактировать";
    }
    else if (Model.Status == QuestionAnswersStatus.ToAnswer)
    {
        ViewBag.Title = "Ответить";
    }
    else
    {
        ViewBag.Title = "Отправить вопрос";
    }
    Layout = "_LayoutEmployee";
}
<div class="page">
    <div class="pageheader">

        <h2>@ViewBag.Title</h2>

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li style="background: #138a72">
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="QuestionAnswers"> Вопрос-ответ</a>
                </li>
                <li>
                    <a> @ViewBag.Title</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card" style="width:100%;margin:auto;">
        <div class="card-body">
            <form asp-action="Create" asp-controller="QuestionAnswers" asp-area="" method="post" enctype="multipart/form-data" asp-antiforgery="true">
                @{ Html.RenderPartial("PartialViews/QuestionAnswers", Model); }
                <input type="hidden" value="@Model.QuestionAnswer.Id" asp-for="QuestionAnswer.Id">
                <input type="hidden" value="@Model.Status" asp-for="@Model.Status">
                <input type="hidden" value="@Model.PostId" asp-for="@Model.PostId">
                    @if (Model.Status == QuestionAnswersStatus.Create)
                    {
                        <button type="submit" class="btn btn-info" style="margin:  20px 0 0;" >Добавить</button>
                    }
                    else if  (Model.Status == QuestionAnswersStatus.Edit)
                    {
                        <button type="submit" class="btn btn-info" style="margin:  20px 0 0;" >Сохранить</button>
                    }
                    else if  (Model.Status == QuestionAnswersStatus.ToAnswer)
                    {
                        <button type="submit" class="btn btn-info" style="margin:  20px 0 0;" >Ответить</button>
                    }
                    else if  (Model.Status == QuestionAnswersStatus.ToQuestion)
                    {
                        <button type="submit" class="btn btn-info" style="margin:  20px 0 0;" >Отправить</button>
                    }
                    <a asp-action="Index" asp-controller="QuestionAnswers" class="btn btn-info" style="margin:  20px 0 0;" >Отменить</a>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}