@model QuestionAnswersViewModel

@{
    ViewBag.Title = "Удаление";
    Layout = "_Layout";
}
<div class="container">
    <h2>Вы уверены что хотите удалить</h2>
    <h3>@Model.QuestionAnswer.Question</h3>
    <form asp-action="Delete" asp-controller="QuestionAnswers" method="post">
        <input type="hidden" asp-for="QuestionAnswer.Id" value="@Model.QuestionAnswer.Id">
        <input type="hidden" value="@Model.Status" asp-for="@Model.Status">
        <button type="submit">подтвердить</button>
    </form>
    <a asp-action="Preview" asp-controller="QuestionAnswers" asp-route-id="@Model.QuestionAnswer.Id">Отменить</a>
</div>