@model QuestionAnswer

@{
    ViewBag.Title = "Ситуация";
    Layout = "_LayoutEmployee";
}

<div class="page">
    <div class="pageheader">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li style="background: #138a72">
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="QuestionAnswers" asp-area=""> Ситуационная база</a>
                </li>
                <li>
                    <a asp-action="Preview" asp-controller="QuestionAnswers" asp-area="" asp-route-id="@Model.Id"> @ViewBag.Title</a>
                </li>
            </ul>
        </div>
    </div>
    
     <h2>Ситуация :"@Model.Question"</h2>
       <h4>решение ситуации от @Model.Responder.Name @Model.Responder.Surname :</h4>
       <div class="row">
   
           <div class="col-sm-12 portlets sortable">
               <section class="tile portlet ">
   
                   <!-- tile body -->
                   <div class="tile-body">
                       <p> @Html.Raw(Model.Answer)</p>
                   </div>
                   <!-- /tile body -->
   
               </section>
           </div>
         </div>
</div>
